= simple_form_for [:admin, critic] do |f|
  %h3
    = t('.general')

  = critic.errors.first.to_s

  .row
    .col-xs-12
      = f.input :name, required: true, autofocus: true, value: 'Teste'
  .row
    .col-xs-12
      = f.input :content, required: true, autofocus: true, input_html: { rows: 3 }, value: 'Teste'

  .row{ data: { filmable: '' } }
    .col-xs-3{ data: { filmable_select: '' } }
      = f.input :filmable_type, collection: [['Filme', Movie],['Série', Serie]], selected: Movie
    .col-xs-9
      .div{ data: { filmable_type: 'Movie' } }
        = f.input :filmable_id, collection: movies, label_method: :title_str, value_method: :id
      .div.hidden{ data: { filmable_type: 'Serie' } }
        = f.input :filmable_id, collection: series, label_method: :title_str, value_method: :id

  = f.hidden_field :user_id, value: current_user.id

  = render 'shared/form_actions', f: f
