- role = current_role(current_user, request.url)
- avatar = image_default_path(professional.avatar, "professional")

.container
  .row
    .col-xs-12
      .section-pessoal
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#perfil"}
            .media-body.media-middle
              .media-heading.title-section
                Dados Gerais
        .user-profile
          .row
            .col-xs-12.col-sm-3.user-avatar
              %img.img-responsive{ src: avatar, style: 'height: 330px; width: 220px;' }
            .col-xs-12.col-sm-9.user-info
              Nome:
              %span.user-name
                = professional.name
              %br
              %br
              Idade:
              %span.user-age
                = professional.original_title
              %br
              %br
              Local de Nascimento:
              %span.user-city
                - if professional.place_of_birth.blank?
                  \-
                - else
                  = professional.place_of_birth
              %br

  .row
    .col-xs-8
      .section-pessoal
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#filme"}
            .media-body.media-middle
              .media-heading.title-section
                Filmografia


  - set_functions = SetFunction.all
  - set_functions.each do |sf|
    - all = []

    - movies_ids = FilmableProfessional.where(filmable_type: 'Movie', professional_id: professional.id, set_function_id: sf.id).pluck(:filmable_id)
    - Movie.where(id: movies_ids.uniq).order(year: :desc).each do |m|
      - all << m

    - series_ids = FilmableProfessional.where(filmable_type: 'Serie', professional_id: professional.id, set_function_id: sf.id).pluck(:filmable_id)
    - Serie.where(id: series_ids.uniq).order(start_year: :desc).each do |s|
      - all << s

    - if all.any?
      .row{ data: { slider: { playing: '' } } }
        .col-xs-8
          .section-pessoal
            .title-separator
              .media
                .media-body.media-middle
                  .media-heading.title-section
                    = sf.name

          .row
            - showcase_class ||= 'showcase-poster'
            - background_color ||= 'parent'
            - slider_movies = all

            / MOVIES THUMB
            .col-xs-12{ class: showcase_class }
              .slider-frame{ style: "background-color: #{background_color}" }
                .btn.prev
                .btn.next
                .slider-container
                  - slider_movies.each do |pm|
                    = render 'shared/home/showcase/item', role: role, pm: pm

  .row
    .col-xs-12
      = render 'shared/integrations/broadcasts', object: professional
