- role = current_role(current_user, request.url)

.container.content
  .row{ style: 'margin-top: 10px;' }
    .col-xs-12.col-md-6
      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          = render 'shared/home/playing/index', role: role, slider_movies: playing_movies

      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          = render 'shared/home/playing/index', role: role, slider_movies: playing_soon_filmables, see_more_url: url_for([role, :movies, :playing_soon]), title: "Em Breve"

    .col-xs-12.col-md-6
      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          = render 'shared/home/playing/index', role: role, slider_movies: playing_series, see_more_url: url_for([role, :series, :playing]), title: "Últimas Temporadas", icon: "#serie"

      .row{ data: { slider: { playing: '' } } }
        = render 'shared/home/trending_trailers/index', role: role
  .row
    .col-xs-12.ciner-videos.ciner-productions
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{ "xlink:href": "#filme" }
          .media-body.media-bottom
            .media-heading.title-section
              Produções Independentes
          .media-body.text-right.media-middle.see-more
            = link_to url_for([role, :ciner_productions]) do
              = t('see_more')
      .row
        = render 'shared/home/ciner_productions/index', role: role

  .row{ style: 'margin-top: 20px;' }
    = render 'shared/home/critics/index', role: role

    = render 'shared/home/events/index', role: role

    = render 'shared/home/professionals/index', role: role
