- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.container.content
  / SECTION 01 CONTENT
  .row{ style: 'margin-top: 10px;' }
    .col-xs-12.col-md-8
      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          / FIRST COLUMN
          = render 'shared/home/playing/index', role: role, slider_movies: playing_movies

      .row{ data: { slider: { featured: '' } } }
        .col-xs-12
          = render 'shared/home/featured/index', role: role, slider_movies: featured_movies
    .col-xs-12.col-md-4
      / SECOND COLUMN
      = render 'shared/home/broadcasts/index', role: role

  / SECTION 02 CONTENT
  .row
    .col-xs-12.col-md-4.advertise
      %figure
        %img.img-responsive{ src: image_path("default/movie/image.png"), style: 'height: 265px; width: 360px;' }
    = render 'shared/home/ciner_videos/index', role: role

  / SECTION 03 CONTENT
  .row{ style: 'margin-top: 20px;' }
    = render 'shared/home/critics/index', role: role

    / SOCIAL CINER
    = render 'shared/home/events/index', role: role

    / ADVERTISES
    .col-xs-12.col-sm-12.col-md-12.col-lg-3
      .col-xs-12.col-sm-6.col-md-offset-2.col-md-4.col-lg-offset-0.col-lg-12.advertises
        %figure
          %img.img-responsive{ src: image_path("default/movie/image.png"), style: 'height: 230px;' }
      .col-xs-12.col-sm-6.col-md-4.col-lg-12.advertises
        %figure
          %img.img-responsive{ src: image_path("default/movie/image.png"), style: 'height: 230px;' }

  .row
    = render 'shared/home/questions/index', role: role

    = render 'shared/home/professionals/index', role: role
