- role = current_role(current_user, request.url)

.container.content
  .row{ style: 'margin-top: 10px;' }
    .col-xs-12.col-md-8
      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          = render 'shared/home/playing/index', role: role, slider_movies: playing_movies

      .row{ data: { slider: { playing: '' } } }
        .col-xs-12
          = render 'shared/home/featured/index', role: role, slider_movies: featured_movies

    .col-xs-12.col-md-4
      = render 'shared/home/broadcasts/index', role: role
  .row
    .col-xs-12.ciner-videos.ciner-productions
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{ "xlink:href": "#filme" }
          .media-body.media-bottom
            .media-heading.title-section
              Produções Independentes
          .media-body.text-right.media-middle.see-more
            = link_to url_for([role, :ciner_productions]) do
              = t('see_more')
      .row
        - ciner_productions.each do |object|
          .hidden-xs
            .ciner-movie.col-xs-12.col-sm-6.col-md-3
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => object.trailer, :width => "100%"}

              .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
                = link_to url_for([role, object]) do
                  = object.title_str
              .ciner-video-user
                .user
                  = link_to url_for([role, object.user]) do
                    - avatar ||= image_default_path(object.user.cover.mini, "user")
                    = image_tag(avatar, class: 'img-responsive')
                  .name
                    = link_to object.user do
                      = object.user.name

          .hidden-sm.hidden-md.hidden-lg.hidden-xl
            .ciner-movie.col-xs-12{ style: 'width: 100%; padding-right: 30px;' }
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => object.trailer, :width => "100%"}

              .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;' }
                = link_to url_for([role, object]) do
                  = object.title_str
              .ciner-video-user
                .user
                  = link_to url_for([role, object.user]) do
                    - avatar ||= image_default_path(object.user.cover.mini, "user")
                    = image_tag(avatar, class: 'img-responsive')
                  .name
                    = link_to object.user do
                      = object.user.name

  .row
    .col-xs-12.col-md-4.advertise
      = link_to "https://lista.mercadolivre.com.br/_CustId_3955851", target: "_blank" do
        %figure
          / %img.img-responsive{ src: image_path("default/movie/image.jpg"), style: 'height: 265px; width: 360px;' }
          = image_tag("banners/first.png", class: "img-responsive", style: 'height: auto; max-height: 360px; width: 100%;' )

    = render 'shared/home/trending_trailers/index', role: role

  .row{ style: 'margin-top: 20px;' }
    = render 'shared/home/critics/index', role: role

    = render 'shared/home/events/index', role: role

    .col-xs-12.col-sm-12.col-md-12.col-lg-3{ style: 'margin-top: 35px;' }
      .row
        .col-xs-12.col-sm-6.col-md-offset-2.col-md-4.col-lg-offset-0.col-lg-12.advertises
          = link_to "https://www.presentenafoto.com.br/", target: "_blank" do
            %figure
              / %img.img-responsive{ src: image_path("second.png"), style: 'height: auto; width: 100%; margin-bottom: 15px;' }
              = image_tag("banners/second.png", class: "img-responsive", style: 'height: auto; width: 100%; margin-bottom: 15px;' )
        .col-xs-12.col-sm-6.col-md-4.col-lg-12.advertises
          = link_to "http://draftyourself.com.br", target: "_blank" do
            %figure
              / %img.img-responsive{ src: image_path("banners/third.png"), style: 'height: auto; width: 100%;' }
              = image_tag("banners/third.png", class: "img-responsive", style: 'height: auto; width: 100%;' )

  .row
    = render 'shared/home/questions/index', role: role

    = render 'shared/home/professionals/index', role: role
