- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: Studio.model_name.human(count: 2), path: new_platform_studio_path

= render 'toolbar'

%table
  %thead
    %tr
      %th
        = Studio.human_attribute_name(:name)
      %th
        = Studio.human_attribute_name(:country)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - studios.each do |studio|
      %tr
        %td
          = link_to platform_studio_path(studio) do
            = studio.name

        %td
          = studio.country_name

        %td
          = link_to edit_platform_studio_path(studio) do
            %i.fa.fa-pencil
        %td
          = link_to platform_studio_path(studio), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: studios
