= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)

  .row.filters{ data: { dynamic_filter: '' } }
    = simple_form_for :filter, url: platform_series_index_path, method: :get, data: { filter_form: '' } do |f|
      = hidden_field_tag :search, params[:search]
      .col-xs-4
        = f.input :country, collection: countries, label: false, include_blank: t('.filters.country'), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:country, '')
      .col-xs-4
        = f.input :state, collection: filtered_states, label: false, include_blank: t('.filters.state'), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:state, '')
      .col-xs-4
        = f.input :city, collection: filtered_cities, label: false, include_blank: t('.filters.city'), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:city, '')
