- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: Professional.model_name.human(count: 2), path: new_platform_professional_path

= render 'toolbar'

%table
  %thead
    %tr
      %th
        = Professional.human_attribute_name(:name)
      %th
        = Professional.human_attribute_name(:set_function)
      %th
        = Professional.human_attribute_name(:birthday)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - professionals.each do |professional|
      %tr
        %td
          = link_to platform_professional_path(professional) do
            = professional.name

        %td
          = professional.set_function_name

        %td
          = localize(professional.birth) if professional.birth

        %td
          = link_to edit_platform_professional_path(professional) do
            %i.fa.fa-pencil
        %td
          = link_to platform_professional_path(professional), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: professionals
