= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)

  #filters.row.filters{ data: { dynamic_filter: '' } }
    = simple_form_for :filter, url: platform_movies_path, method: :get, data: { filter_form: '' } do |f|
      = hidden_field_tag :search, params[:search]
      .col-xs-4
        = f.input :year, collection: (1839..2021), label: false, include_blank: t('.filters.year'), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:year, '')
