- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: Movie.model_name.human(count: 2)

= render 'toolbar'

%table
  %thead
    %tr
      %th
        = Movie.human_attribute_name(:original_title)
      %th
        = Movie.human_attribute_name(:title)
      %th
        = Movie.human_attribute_name(:year)

  %tbody
    - movies.each do |movie|
      %tr
        %td
          = link_to platform_movie_path(movie) do
            = movie.original_title

        %td
          = movie.title

        %td
          = movie.year

= render 'shared/pagination', resources: movies
