- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: CinerVideo.model_name.human(count: 2), path: new_platform_ciner_video_path

= render 'toolbar'

%table
  %thead
    %tr
      %th
        = CinerVideo.human_attribute_name(:original_title)
      %th
        = CinerVideo.human_attribute_name(:title)
      %th
        = CinerVideo.human_attribute_name(:year)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - ciner_videos.each do |ciner_video|
      %tr
        %td
          = link_to platform_ciner_video_path(ciner_video) do
            = ciner_video.original_title

        %td
          = ciner_video.title

        %td
          = ciner_video.year

        %td
          = link_to edit_platform_ciner_video_path(ciner_video) do
            %i.fa.fa-pencil
        %td
          = link_to platform_ciner_video_path(ciner_video), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: ciner_videos
