= javascript_include_tag Ckeditor.cdn_url

= simple_form_for [:admin, event] do |f|
  %h3
    = t('.general')

  .row
    .col-xs-12
      = f.input :title

  .row
    .col-xs-12
      = f.input :description, as: :ckeditor, input_html: { rows: 5 }

  .row
    .col-xs-4
      = f.input :event_date, as: :string, input_html: { value: (localize(f.object.event_date) if f.object.event_date), class: 'datepicker' }
    .col-xs-4
      = f.input :start_time, as: :string, input_html: { class: 'timepicker', placeholder: t('select_hour'), value: f.object.start_time_str }
    .col-xs-4
      = f.input :end_time, as: :string, input_html: { class: 'timepicker', placeholder: t('select_hour'), value: f.object.end_time_str }

  = render 'shared/form_actions', f: f
