= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  %h3
    = t('.general')
  %span
    Os campos sinalizados com * são de preenchimento obrigatório

  .row
    .col-xs-6
      = f.input :name, required: true, autofocus: true
    .col-xs-3
      = f.input :gender, collection: User.localized_genders, input_html: { class: 'form-field' }
    .col-xs-3.hidden{ data: { role: '' } }
      = f.input :role, collection: User.localized_roles, input_html: { class: 'form-field' }

  .row
    .col-xs-6
      = f.input :nickname, required: true
    .col-xs-3
      = f.input :birthday, as: :string, input_html: { value: (localize(f.object.birthday) if f.object.birthday), class: 'datepicker' }
      .hidden
        = f.input :registered_at, as: :string, input_html: { value: localize(Date.today) }

  .row
    .col-xs-6
      = f.input :cpf
    .col-xs-6
      = f.input :email

  %h3
    = t('.address')

  .row
    .col-xs-2{ data: { cep: '', path: api_v1_ceps_path } }
      = f.input :cep
    .col-xs-8
      = f.input :address
    .col-xs-2
      = f.input :number

  .row
    .col-xs-2
      = f.input :complement
    .col-xs-4
      = f.input :neighbourhood
    .col-xs-2
      = f.input :state_id, collection: states
    .col-xs-4
      = f.input :city_id, collection: [], input_html: { class: 'select2' }

  .row
    .col-xs-6
      = f.input :phone
    .col-xs-6
      = f.input :mobile

  %h3
    = t('.avatar')

  .row
    .col-xs-6
      = f.input :avatar, label: false

  %h3
    = t('.about')

  .row
    .col-xs-12{ data: { limited: '', limit: 350 } }
      = f.input :biography, label: false, input_html: { rows: 3 }, maxlength: 350
      %span.char-counter
        = t('remaining_chars', chars: 350)

  %h3
    = t('.password')

  .row
    .col-xs-12.col-sm-6
      = f.input :password, required: true
    .col-xs-12.col-sm-6
      = f.input :password_confirmation, required: true
    .col-xs-12.col-sm-12
      %span.password-hint
        Sua senha deve ter no mínimo 8 caracteres entre números, letras maiúsculas, letras minúsculas e símbolos.

  %h3
    = t('.terms')

  .row
    .col-xs-6{ data: { terms: '' } }
      .hidden
        = f.input :terms_of_use, label: false
      %input.terms{:name => "terms", :type => "checkbox", :value => "terms"}/
      Eu li e concordo com os
      =link_to 'termos de uso', '#', :id => 'terms-link'
      \.
      - unless @accepted
        .div
          É obrigatório aceitar os termos de uso

    .col-xs-6
      = recaptcha_tags

  = render 'shared/users/form_actions', f: f
