- filmable = critic.filmable
- cover = filmable.cover
- cover ||= image_path("default/movie/image.png")

.row
  .review-item.col-xs-12.col-sm-12
    .movie-poster-item{ style: 'width: 30%; height: 195px; float: left; margin-right: 10px;' }
      .thumb
        %img.img-responsive{ src: cover, style: 'width: 130px; height: 195px;' }
    .critic-content{ style: 'display:inline; float: left; width: 60%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
      %h4.title
        = filmable.title_str
      %span.original-title
        = filmable.original_title
      %p{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #808080' }
        = critic.collapsed_content
      %p
        Autor:
        - user = critic.user
        = link_to url_for([role, user]) do
          = user.nickname_str
      = link_to url_for([role, critic]) do
        .btn.btn-saiba-mais
          = t('more')
