- filmable = critic.filmable
- cover = image_default_path(filmable.cover, "movie")

.row
  .review-item.col-xs-12.col-sm-12
    .movie-poster-item{ style: 'width: 133px; height: 200px; float: left; margin-right: 10px;' }
      .thumb
        %img.img-responsive{ src: cover, style: 'width: 133px; height: 200px;' }
    .critic-content{ style: 'display:inline; float: left; width: 60%; padding-top: 0px; margin-top: -12px;' }
      = link_to url_for([role, critic]) do
        %h4
          = filmable.title_str
      %span.original-title
        = filmable.original_title
      .resume
        %p
          = critic.collapsed_content
      %p
        = link_to url_for([role, critic.user]) do
          = critic.user_nickname.split(' ').first
        em
        = critic.date_str
