- if current_user
  - if current_user.admin?
    .post-item
      = link_to admin_events_path(anchor: "#{event.id}") do
        %h4
          = event.title
      %p
        = event.subtitle
      .highlight.pull-left
        - if event.featured?
          .button
            Destaque
      %span.date.pull-right
        = event.date_str
  - else
    .post-item
      = link_to platform_events_path(anchor: "#{event.id}") do
        %h4
          = event.title
      %p
        = event.subtitle
      .highlight.pull-left
        - if event.featured?
          .button
            Destaque
      %span.date.pull-right
        = event.date_str
- else
  .post-item
    = link_to events_path(anchor: "#{event.id}") do
      %h4
        = event.title
    %p
      = event.subtitle
    .highlight.pull-left
      - if event.featured?
        .button
          Destaque
    %span.date.pull-right
      = event.date_str
