= simple_form_for [:admin, curriculum_function] do |f|
  %h3
    = t('.general')

  .row
    .col-xs-12.col-sm-4
      = f.input :name, required: true, autofocus: true
    .col-xs-12.col-sm-4
      = f.input :description
    .col-xs-12.col-sm-4
      = f.input :general

  = render 'shared/form_actions', f: f
