- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: CurriculumFunction.model_name.human(count: 2), path: new_admin_curriculum_function_path

= render 'toolbar'

%table
  %thead
    %tr
      %th
        = CurriculumFunction.human_attribute_name(:name)
      %th
        = CurriculumFunction.human_attribute_name(:description)
      %th
        = CurriculumFunction.human_attribute_name(:general)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - curriculum_functions.each do |curriculum_function|
      %tr
        %td
          = link_to admin_curriculum_function_path(curriculum_function) do
            = curriculum_function.name

        %td
          = curriculum_function.description

        %td
          = curriculum_function.general

        %td
          = link_to edit_admin_curriculum_function_path(curriculum_function) do
            %i.fa.fa-pencil
        %td
          = link_to admin_curriculum_function_path(curriculum_function), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: curriculum_functions
