= simple_form_for [:api, :v1, comment], remote: true do |f|
  = f.input :content, label: false, input_html: { placeholder: "Deixe um comentário", rows: 5 }

  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :commentable_id, value: Question.first.id
  = f.hidden_field :commentable_type, value: Question

  .text-right
    .col-xs-offset-6.col-xs-3.pull-right
      = checkbox_item(f, :spoiler)
    .col-xs-3.pull-right
      = label_tag '', t('confirm'), class: 'btn btn-submit', data: { submit: '' }
