- commentable_id = params[:commentableId]
- commentable_type = params[:commentableType]
- user_id = current_user.id if current_user

= simple_form_for [:api, :v1, comment], remote: true do |f|
  = f.text_area :content, label: false, input_html: { placeholder: 'Deixe aqui seu comentário', rows: 5 }

  = f.hidden_field :user_id, value: user_id
  = f.hidden_field :commentable_id, value: commentable_id
  = f.hidden_field :commentable_type, value: commentable_type

  .col-xs-3.pull-right
    = label_tag '', t('confirm'), class: 'btn btn-submit', data: { submit: '' }
  .col-xs-offset-7.col-xs-2.pull-right
    = checkbox_item(f, :spoiler)
