- content_for :stylesheet, stylesheet_link_tag(stylesheet)

#comentarios.col-xs-12.comentarios
  .input-comentario
    .title-separator
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#comentario"}
        .media-body.media-bottom
          .media-heading.title-section
            = Comment.model_name.human(count: 2)
    - if current_user
      = render 'api/v1/comments/form'
    - else
      = render 'shared/alerts/info', message: t('unauthorized.login_for_comments')

  .lista-comentarios
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            = comments.count
            comentários

    - comments.each do |comment|
      = render 'api/v1/comments/show', comment: comment
