- role = current_role(current_user, request.url)
- content_for :javascript, javascript_include_tag('views/shared/ciner_videos/upload_video')

%h3.wine
  Dados Gerais

.row
  .col-xs-12.col-sm-6
    = f.input :title, disabled: true, input_html: { value: f.object.title_str }
    = f.hidden_field :title, value: f.object.title
.row
  .col-xs-6
    %h3.wine
      Trailer

.row
  .col-xs-6
    = f.file_field :trailer

.row.actions
  .col-xs-12.col-sm-3.pull-right
    = f.button :submit, 'Salvar e fazer upload', data: { disable_with: 'Fazendo upload...' }, id: 'fileUpload'
  .col-xs-12.col-sm-3.pull-right
    = f.button :submit, 'Prosseguir', data: { disable_with: 'Salvando...' }, id: 'fileUpload'
  .col-xs-12.col-sm-3.pull-right
    = link_to :back do
      .btn.submit{ input: { type: 'submit' } }
        = t('cancel')

.progress
  .bar
  .percent 0%
#status

