- role = role
- object = ciner_video
- cover = image_default_path(object.cover.path, "ciner_video")

.internal-section-detail-filmable
  .filmable
    .container
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
          .row
            .col-xs-12
              %img.img-responsive{ src: cover, style: 'height: 300px; width: 200px;' }
          - if current_user
            - if current_user == object.user || current_user.admin?
              .row
                .col-xs-12
                  = link_to polymorphic_path([:edit, role, object]) do
                    %button.btn.btn-login
                      Editar
                      %span.icon.icon-button
        .col-xs-12.col-sm-12.col-md-9.col-lg-9
          .row
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              Gênero
              %a.wine.bold
                = object.ciner_video_ratings_str
              %br

              = CinerVideo.human_attribute_name(:age_range_id)
              %span.wine.bold
                = object.film_production_categories_str

              \|

              Duração
              %span.wine.bold
                = object.length_str

              %br
              %br

              .title
                %h3.bold.wine
                  = object.title_str
                %h4.light.cinza
                  = "#{object.original_title_str}"
                  - unless object.year.blank?
                    = "(#{object.year})"

              %br

            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .row
                .col-xs-6
                  .nota
                    = CinerVideo.human_attribute_name(:users_rating)
                    %span.valor
                      = object.users_rating
                    = t('votes', count: object.users_rating_count)

                - if object.ciner_official_critic
                  .col-xs-6
                    .nota.ciner-rating
                      = CinerVideo.human_attribute_name(:ciner_rating)
                      %span.valor
                        = object.ciner_official_critic.rating
                      = object.ciner_official_critic.user_name
          .row
            .col-xs-12
              .title
                .synopsis{ data: { tipsy: '' }, title: "#{object.synopsis}" }
                  = object.synopsis

                %br

                = CinerVideo.human_attribute_name(:directors_str)
                %a.bold.wine
                  = object.ciner_video_directors
                %br

                Roteiro
                %a.bold.wine
                  = object.ciner_video_writers
                %br

                = CinerVideo.human_attribute_name(:cast_str)
                %a.bold.wine
                  = object.ciner_video_actors
                %a.bold.preto{:href => "#ficha-tecnica"}
                  = t('more')
                %br

                %br
                País(es) de Produção
                %a.bold.wine
                  = object.countries_str
                %br

                Lançamento
                %span.wine.bold
                  = object.release_str

          / = render 'shared/ciner_videos/user_actions', object: object, role: role
