- role = current_role(current_user, request.url)

= render 'shared/ciner_videos/toolbar', role: role

.container.content
  .row
    - if ciner_videos.any?
      - ciner_videos.each do |ciner_video|
        - cover = image_default_path(ciner_video.cover, "user")

        .col-xs-12.col-sm-3.video-item
          %a{"data-target" => "#myModal#{ciner_video.id}", "data-toggle" => "modal"}
            %img.img-responsive{src: cover, style: 'width: 255px; height: 220px;'}/
          .info
            %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "true", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "4"}/
          %h5.wine.title
            = link_to url_for([role, ciner_video]) do
              = ciner_video.title_str
          %span.nome
            = ciner_video.user.nickname
          %span.genero
            Gênero
          = ciner_video.film_production_categories_str
          %span{ style: 'margin-right: 10px; margin-left: 10px;'}
            |
          %span.tempo
            = ciner_video.length_str

        = render 'shared/ciner_videos/modal_view', ciner_video: ciner_video, role: role

  .row
    .col-xs-12
      = render 'shared/pagination', resources: ciner_videos
