- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

.container
  .row
    .col-xs-9
      .title-separator
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#debate"}
          .media-body.media-bottom
            .media-heading.title-section
              = t('shared.questions.index.title')
    .col-xs-3
      = link_to new_platform_question_path, class: 'pull-right' do
        %i.fa.fa-plus= t('new')

    = render 'shared/questions/toolbar', path: platform_questions_path

.container.debates
  .row.cabecalho
    .col-xs-2.col-sm-1
      %h4.wine
        = t('shared.questions.header.area')
    .col-xs-8.col-sm-5
      %h4.wine
        = t('shared.questions.header.topic')
    .col-sm-2.hidden-xs
      %h4.wine
        = t('shared.questions.header.comments')
    .col-sm-2.hidden-xs
      %h4.wine
        = t('shared.questions.header.activity')

  - if questions.any?
    - questions.each do |question|
      = render question

    = render 'shared/pagination', resources: questions
  - else
    = render 'shared/alerts/info', message: (t('empty', klass: Question.model_name.human(count: 2)))
