- content_for :javascript, javascript_include_tag('views/shared/curriculums/form')
- content_for :stylesheet, stylesheet_link_tag('views/shared/curriculums/form')
- ciner_production_type = params[:ciner_production_type]

= simple_form_for [role, ciner_production] do |f|
  %h3.wine
    = t('.general')

  .row
    .col-xs-6{ data: { cocoon_container: '', limit: 3 } }
      .row
        .col-xs-11.col-md-11
          = render 'shared/ciner_productions/nested', f: f, association: 'ciner_production_film_production_categories', title: "Gênero"

  .row
    .col-xs-6
      = f.input :age_range_id, collection: AgeRange.all, include_blank: 'Classificação Indicativa'

  - unless ciner_production_type == 'serie'
    .row
      .col-xs-6
        = f.input :length, as: :string, input_html: { class: 'length' }

  .row
    .col-xs-6
      .row
        .col-xs-12
          = f.input :original_title, required: true
      .row
        .col-xs-12
          = f.input :title, required: true, autofocus: true
      .row
        .col-xs-3
          = f.input :year, as: :string, input_html: { class: 'year' }
      .row
        .col-xs-9.col-md-9{ data: { cocoon_container: '', limit: 3 } }
          .row
            .col-xs-11.col-md-11
              = render 'shared/ciner_productions/nested', f: f, association: 'ciner_production_countries', title: "País(es) de Produção"


    .col-xs-6
      .row
        .col-xs-12
          %span{ style: 'font-size: 13px; color: #aaa;' }
            = "Formatos aceitos: PNG, JPG, JPEG e GIF - Tamanho máximo por arquivo: 200kb"
          = f.input :cover

  .row
    .col-xs-12{ data: { limited: '', limit: 1000 } }
      = f.input :synopsis, input_html: { rows: 5 }, maxlength: 1000
      %span.char-counter
        = t('remaining_chars', chars: 1000)

  .row
    .col-xs-3
      = f.input :brazilian_release, as: :string, input_html: { value: (localize(f.object.brazilian_release) if f.object.brazilian_release), class: 'datepicker' }

  .row
    .col-xs-12
      = f.input :trailer

  .row
    .col-xs-12{ data: { cocoon_container: '', limit: (ciner_production_type == 'movie' ? 1 : 100) } }
      .row
        .col-xs-11.col-md-11
          = render 'shared/ciner_productions/nested', f: f, association: 'ciner_production_videos', title: "Vídeo(s)"

  .row
    .col-xs-12{ data: { cocoon_container: '' } }
      .row
        .col-xs-11.col-md-11
          = render 'shared/ciner_productions/nested', f: f, association: 'ciner_production_professionals', title: "Equipe"

  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :production_type, value: params[:ciner_production_type] == 'serie' ? 'serie_production' : 'movie_production'

  = render 'shared/form_actions', f: f
