- role = current_role(current_user, request.url)

- playing_filmables = nil
- featured_filmables = nil
- playing_soon_filmables = nil

= render 'shared/breadcrumbs'

.container
  .row
    .col-xs-12.ciner-videos.ciner-productions
      = render 'shared/ciner_productions/toolbar'
      - unless ciner_productions.blank?
        .row
          - ciner_productions.each do |object|
            - video = object.trailer
            - title_str = object.title_str
            - if video
              .hidden-xs
                .ciner-movie.col-xs-12.col-sm-6.col-md-3
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => video, :width => "100%"}

                  .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
                    = link_to url_for([role, object]) do
                      = "Trailer: #{title_str}"
                  .ciner-video-user
                    .user
                      = link_to url_for([role, object.user]) do
                        - avatar ||= image_default_path(object.user.cover.mini, "user")
                        = image_tag(avatar, class: 'img-responsive')
                      .name
                        = link_to object.user do
                          = object.user.name

              .hidden-sm.hidden-md.hidden-lg.hidden-xl
                .ciner-movie.col-xs-12{ style: 'width: 100%; padding-right: 30px;' }
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => video, :width => "100%"}

                  .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;' }
                    = link_to url_for([role, object]) do
                      = title_str
                  .ciner-video-user
                    .user
                      = link_to url_for([role, object.user]) do
                        - avatar ||= image_default_path(object.user.cover.mini, "user")
                        = image_tag(avatar, class: 'img-responsive')
                      .name
                        = link_to object.user do
                          = object.user.name

            - object.ciner_production_videos.each do |cpv|
              - video = cpv.video
              - if object.serie_production?
                - title_str = "#{object.title_str} T#{cpv.season} - E#{cpv.episode}"
              - else
                - title_str = "#{object.title_str}"

              - if video
                .hidden-xs
                  .ciner-movie.col-xs-12.col-sm-6.col-md-3
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => video, :width => "100%"}

                    .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
                      = link_to url_for([role, object]) do
                        = title_str
                    .ciner-video-user
                      .user
                        = link_to url_for([role, object.user]) do
                          - avatar ||= image_default_path(object.user.cover.mini, "user")
                          = image_tag(avatar, class: 'img-responsive')
                        .name
                          = link_to object.user do
                            = object.user.name

                .hidden-sm.hidden-md.hidden-lg.hidden-xl
                  .ciner-movie.col-xs-12{ style: 'width: 100%; padding-right: 30px;' }
                    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => video, :width => "100%"}

                    .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;' }
                      = link_to url_for([role, object]) do
                        = title_str
                    .ciner-video-user
                      .user
                        = link_to url_for([role, object.user]) do
                          - avatar ||= image_default_path(object.user.cover.mini, "user")
                          = image_tag(avatar, class: 'img-responsive')
                        .name
                          = link_to object.user do
                            = object.user.name
