- object = object
- role = role

#ficha-tecnica
  - unless object.trailer.blank?
    .title-separator
      .media
        .media-left.media-middle
          %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
            %use{"xlink:href" => "#video"}
        .media-body.media-bottom
          .media-heading.title-section
            = CinerProduction.human_attribute_name(:trailer)

    .ficha
      .info
        %iframe{ allowfullscreen: "", frameborder: "0", height: "315px", src: object.trailer.to_s, width: "100%"}

  - unless object.ciner_production_videos.blank?
    - if object.serie_production?
      - object.seasons.each do |season|
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
                %use{"xlink:href" => "#video"}
            .media-body.media-bottom
              .media-heading.title-section
                = "Temporada #{season}"

        - object.season_episodes(season).each do |episode|
          %h4.pink.bold
            = "Episódio #{episode.episode}"
          .ficha
            .info
              %iframe{ allowfullscreen: "", frameborder: "0", height: "315px", src: episode.video.to_s, width: "100%"}
    - else
      .title-separator
        .media
          .media-left.media-middle
            %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
              %use{"xlink:href" => "#video"}
          .media-body.media-bottom
            .media-heading.title-section
              Vídeos

      .ficha
        .info
          %iframe{ allowfullscreen: "", frameborder: "0", height: "315px", src: object.ciner_production_videos.first.video.to_s, width: "100%"}

  .row
    - filmable_directors = object.filmable_directors
    - if filmable_directors.any?
      .col-xs-6
        #direcao.direcao
          .title-separator
            .media
              .media-body.media-bottom
                .media-heading.title-section
                  Direção
          .diretores
            .row
              - filmable_directors.first(3).each do |filmable_professional|
                = render 'shared/ciner_productions/professional', professional: filmable_professional.professional, professional_class: 'diretor', role: role

    - filmable_writers = object.filmable_writers
    - if filmable_writers.any?
      .col-xs-6
        #direcao.direcao
          .title-separator
            .media
              .media-body.media-bottom
                .media-heading.title-section
                  Roteiro
          .diretores
            .row
              - filmable_writers.first(3).each do |filmable_professional|
                = render 'shared/ciner_productions/professional', professional: filmable_professional.professional, professional_class: 'roteirista', role: role

- filmable_actors = object.filmable_actors
- if filmable_actors.any?
  #elenco.row.elenco{ data: { collapsed_area: '' }, style: 'margin-top: -20px;' }
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              = CinerProduction.human_attribute_name(:cast_str)
            .media-body.text-right.media-middle.see-more{ data: { collapse_control: '' } }
              = t('see_more')
      .atores-principais
        .row
          - filmable_actors.first(6).each do |filmable_professional|
            = render 'shared/ciner_productions/professional', professional: filmable_professional.professional, professional_class: 'diretor', data_mh: 'atores-principais', observation: filmable_professional.observation, role: role
      .collapsed-area
        .atores.collapse{ data: { collapse_content: '' } }
          - filmable_actors.each_with_index do |filmable_professional, index|
            - if index > 5
              =  render 'shared/ciner_productions/professional_row', professional: filmable_professional.professional, data_mh: 'group', observation: filmable_professional.observation, role: role
