- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

.row
  .col-xs-9
    .row
      .col-xs-9
        %h3
          = t('.general')
      .col-xs-3
        .pull-right
          = link_to t('edit'), platform_profile_edit_path(user.id)
          = link_to t('exit'), destroy_user_session_path, method: :delete

    %hr

    .row
      .col-xs-12
        .row
          .col-xs-3
            .avatar
              = image_tag(user.avatar)
          .col-xs-9
            .row
              .col-xs-12
                .field-label
                  = User.human_attribute_name(:name)
                .field-value
                  = user.name
            .row
              .col-xs-12
                .field-label
                  = User.human_attribute_name(:age)
                .field-value
                  = user.age
            .row
              .col-xs-12
                .field-label
                  = User.human_attribute_name(:city)
                .field-value
                  = user.city_name
            .row
              .col-xs-12
                .field-label
                  = User.human_attribute_name(:registered_at)
                .field-value
                  = user.registered_at

            %hr

            .row
              .col-xs-12
                .field-label
                  = User.human_attribute_name(:biography)
                .field-value
                  = user.biography


