- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

.row.wine.bold{ style: 'margin-top: 10px; margin-bottom: 15px;' }
  .col-xs-5
    Título
  .col-xs-3
    Anos
  .col-xs-2
    Repetições
  .col-xs-2
    Link da busca


- movie_duplicates.each do |movie_duplicate|
  .row{ style: 'border-bottom: 1px solid #cccccc; margin-bottom: 5px; padding-bottom: 5px' }
    .col-xs-5
      = movie_duplicate.title
    .col-xs-3
      = movie_duplicate.available_years
    .col-xs-2
      = movie_duplicate.count
    .col-xs-2
      = link_to polymorphic_path([:admin, :movies], params: { search: movie_duplicate.title }) do
        ver na busca

= render 'shared/pagination', resources: movie_duplicates
