- like_path ||= nil
- current_url = request.original_url

#reactions
  - content_for :stylesheet, stylesheet_link_tag('views/shared/reactions')
  - user = current_user || nil

  - if user
    .row{ style: 'margin-bottom: 0px' }
      .col-xs-12{ data: { reactions: '' } }
        %div.reactionable.clickable{ data: { vote: '', url: like_path } }
          %span{ data: { like_counter: '' } }
            = resource.likes_count
          %i.fa{ class: resource.like_icon_class(user), data: { like_icon: '' } }

        %div.reactionable.clickable{ data: { vote: '', url: dislike_path } }
          %span{ data: { dislike_counter: '' } }
            = resource.dislikes_count
          %i.fa{ class: resource.dislike_icon_class(user), data: { dislike_icon: '' } }

        - if resource.class == Broadcast
          - if current_user
            - if !question.blank?
              = link_to polymorphic_path([role, question]) do
                %svg.icon-title{ style: 'width: 25px; height: 20px; margin-top: -5px; margin-left: 15px' }
                  %use{"xlink:href" => "#debate"}
            - else
              = link_to polymorphic_path([:new, role, :question], questionable_type: 'Broadcast', questionable_id: resource.id), title: 'Debater' do
                %svg.icon-title{ style: 'width: 25px; height: 20px; margin-top: -5px; margin-left: 15px', title: 'Debater' }
                  %use{"xlink:href" => "#debate", title: 'Debater'}
        - else
          %div.delatable.clickable{"data-target" => "##{resource.id}", "data-toggle" => "modal", title: 'Denunciar'}
            %i.fa.fa-exclamation-circle{ title: 'Denunciar' }

  - else
    .row{ style: 'margin-bottom: 0px', title: t('unauthorized.login_for_reactions'), data: { tipsy: '' } }
      .col-xs-12
        %div.reactionable
          %span
            = resource.likes_count
          %i.fa.fa-thumbs-o-up

        %div.reactionable
          %span
            = resource.dislikes_count
          %i.fa.fa-thumbs-o-down

/ Modal
.modal.fade{:role => "dialog", id: "#{resource.id}"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        .modal-title
          Deseja mesmo denunciar essa publicação?
      .modal-body
        .row
          .col-xs-offset-2.col-xs-2
            .btn.btn-default.btn-xs.center-block{ data: { delate: '', url: "/delates", user_id: user.id }, title: 'Denunciar' }
              Sim
          .col-xs-offset-4.col-xs-2
            .btn.btn-default.btn-xs.center-block{"data-dismiss" => "modal", :type => "button"}
              Não
