- filmable = critic.filmable
- cover = critic.filmable_cover
- cover ||= image_path("default/movie/image.png")

.row
  .col-xs-12
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section Críticas recentes

.row
  .col-xs-12.critica-mais-recente
    .col-xs-12.col-sm-4.col-md-2
      %img.img-responsive{ src: cover }
    .col-xs-12.col-sm-8.col-md-10.critica-recente
      .info
        .row
          .col-xs-12
            = Critic.human_attribute_name(:release)
            %span.bold.wine
              = l(filmable.release, format: :long_date)

            .pull-right
              = render 'shared/critics/rating', critic: critic

        .row
          .col-xs-12
            = Movie.human_attribute_name(:genders_str)
            %a.bold.wine{href: "#"}
              = filmable.genders_str

      %h4.title
        = critic.filmable_title_str
      %span.original-title
        = critic.filmable_original_title

      .diretor-elenco
        = Movie.human_attribute_name(:directors_str)
        %a.wine.bold{href: "#"}
          = filmable.directors_str
        %br

        = Movie.human_attribute_name(:cast_str)
        = succeed "," do
          %a.wine.bold{href: "#"} Brad Pitt
        = succeed " e" do
          %a.wine.bold{href: "#"} Harrison Ford
        %a.wine.bold{href: "#"} Robert Downey Jr.

      .content
        %p
          = critic.collapsed_content
      = link_to path do
        .btn.btn-saiba-mais
          Saiba mais
