- filmable = critic.filmable
- cover = image_default_path(filmable.cover, "movie")
- role ||= nil

.row
  .col-xs-12
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            Críticas recentes

.row
  .col-xs-12.critica-mais-recente
    .row
      .col-xs-12.col-sm-4.col-md-2
        / %img.img-responsive{ src: cover }
        = link_to url_for([role, filmable]) do
          = image_tag(cover, class: "img-responsive")
      .col-xs-12.col-sm-8.col-md-10.critica-recente
        .info
          .row
            .col-xs-12
              = Movie.human_attribute_name(:genders_str)
              %span.wine.bold
                = filmable.genre_pt
              .pull-right
                = render 'shared/critics/rating', critic: critic

        %h4.title
          = link_to url_for([role, filmable]) do
            = critic.filmable_title_str
        %span.original-title
          = critic.filmable_original_title


        .diretor-elenco
          = Movie.human_attribute_name(:directors_str)
          .wine.bold
            = filmable.directors_str
          %br

          = Movie.human_attribute_name(:cast_str)
          .wine.bold
            = filmable.actors_str
          %br

        .content{ style: 'width: 100%; overflow: hidden; text-overflow: ellipsis; height: 65px; margin-bottom: 10px' }
          = critic.content.gsub(/\n/, '<br/>').html_safe

        = link_to url_for([role, critic]) do
          .btn.btn-saiba-mais
            Leia mais
