- filmable_type = params.fetch(:filter, {}).fetch(:filmable_type, '')
= render 'shared/toolbar'

.toolbar
  .row.searchbar
    .col-xs-12
      = render 'shared/searchbar', form_url: request.url, filter_params: params.fetch(:filter, nil)

  .row.filters{ data: { dynamic_filter: '' } }
    = simple_form_for :filter, url: path, method: :get, data: { filter_form: '' } do |f|
      = hidden_field_tag :search, params[:search]
      .col-xs-3
        = f.input :filmable_type, collection: FilmProfitable.localized_filmable_types, label: false, include_blank: t('.filters.filmable_type'), input_html: { data: { dynamic_input: '' } }, selected: filmable_type
      .col-xs-6
        = f.input :filmable_id, collection: FilmProfitable.filmables_by_type(filmable_type), label: false, include_blank: t(".filters.filmable_id.#{filmable_type}"), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:filmable_id, '')
      .col-xs-3
        = f.input :year, collection: FilmProfitable.localized_years, label: false, include_blank: t('.filters.year'), input_html: { data: { dynamic_input: '' } }, selected: params.fetch(:filter, {}).fetch(:year, '')
