.container.content
  / SECTION 01 CONTENT
  .row
    / FIRST COLUMN
    .col-xs-12.col-md-8
      / SECTION POSTER
      .section-poster
        .ciner-poster.title-separator
          .media
            .media-left.media-middle
              %svg.icon-title
                %use{"xlink:href" => "#filme"}/
            .media-body.media-bottom
              .media-heading.title-section Filmes em cartaz
            .media-body.text-right.media-middle
              %a{:href => "#"} ver mais
        .col-xs-12.hidden-lg
          / Carousel Poster
          #carousel-filmes-cartaz.carousel.slide.carousel-responsive.carousel-showsixmoveone{"data-interval" => "7000", "data-ride" => "carousel", "data-type" => "multi"}
            .carousel-inner
              .item.active
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      = image_tag("http://cdn5.brusimm.com/wp-content/uploads/2012/11/Leonardo-DiCaprio-in-Django-Unchained-movie-poster.jpg?56e547", class: "img-responsive")
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      = image_tag("http://36.media.tumblr.com/143922f87874a5bf743d57968a12965c/tumblr_nkwhfq4Hw41u6otn8o1_250.jpg", class: "img-responsive")
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      = image_tag("https://i3.bookpage.com/books/images/7183480b20580cf86b23412c4c8a3cb1/medium.jpg", class: "img-responsive")
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      = image_tag("http://kino.musu.lv/movies/0137/l_wall_e_large_poster.jpg", class: "img-responsive")
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      = image_tag('http://i1.wp.com/curnblog.com/wp-content/uploads/2014/04/wolf-of-wall-street-poster2-610x903.jpg?resize=250%2C370g', class: "img-responsive")
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "https://4thwallman.files.wordpress.com/2016/04/10-cloverfield-lane-poster.jpg?w=634"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://www.bigmoviezone.com/filmsearch/movies/movie_images/rovingmars_poster_250px.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "https://upload.wikimedia.org/wikipedia/en/6/61/The_Lego_Batman_Movie_PromotionalPoster.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://cdn.pastemagazine.com/www/blogs/lists/assets_c/2011/04/tmntposter-thumb-250x370-50756.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://horrornews.net/wp-content/uploads/2012/07/The-Day-2011-Movie-Poster.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://www.alfamovie.com/wp-content/uploads/v_p_images/0000/00/2119887_cover.jpg.jpg-optimized.jpg"}/
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-filmes-cartaz"}
              %i.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-filmes-cartaz"}
              %i.glyphicon.glyphicon-chevron-right
          / Carousel Poster
        / MOVIES THUMB
        .showcase-poster.hidden-xs.visible-lg
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie_2.jpg", class: "img-responsive")
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie_3.jpg", class: "img-responsive")
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie_3.jpg", class: "img-responsive")
          .movie-poster-item.col-xs-12.col-sm-4.col-md-4.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie_3.jpg", class: "img-responsive")
        / MOVIES THUMB
      / SECTION FEATURED
      .section-featured
        .col-xs-12.ciner-featured.title-separator
          .media
            .media-left.media-middle
              %svg.icon-title
                %use{"xlink:href" => "#destaque"}
            .media-body.media-bottom
              .media-heading.title-section Destaques
            .media-body.text-right.media-middle
              %a{:href => "#"} ver mais
        .col-xs-12.hidden-lg
          / Carousel Mobile Featured
          #carousel-featured.carousel.slide.carousel-responsive.carousel-showsixmoveone{"data-interval" => "7000", "data-ride" => "carousel", "data-type" => "multi"}
            .carousel-inner
              .item.active
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://cdn5.brusimm.com/wp-content/uploads/2012/11/Leonardo-DiCaprio-in-Django-Unchained-movie-poster.jpg?56e547"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://36.media.tumblr.com/143922f87874a5bf743d57968a12965c/tumblr_nkwhfq4Hw41u6otn8o1_250.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "https://i3.bookpage.com/books/images/7183480b20580cf86b23412c4c8a3cb1/medium.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://kino.musu.lv/movies/0137/l_wall_e_large_poster.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://i1.wp.com/curnblog.com/wp-content/uploads/2014/04/wolf-of-wall-street-poster2-610x903.jpg?resize=250%2C370g"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "https://4thwallman.files.wordpress.com/2016/04/10-cloverfield-lane-poster.jpg?w=634"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://www.bigmoviezone.com/filmsearch/movies/movie_images/rovingmars_poster_250px.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "https://upload.wikimedia.org/wikipedia/en/6/61/The_Lego_Batman_Movie_PromotionalPoster.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://cdn.pastemagazine.com/www/blogs/lists/assets_c/2011/04/tmntposter-thumb-250x370-50756.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://horrornews.net/wp-content/uploads/2012/07/The-Day-2011-Movie-Poster.jpg"}/
              .item
                .col-md-4.col-sm-6.col-xs-12.text-center
                  .thumb
                    %a{:href => "#"}
                      %span.rollover
                      %img.img-responsive{:src => "http://www.alfamovie.com/wp-content/uploads/v_p_images/0000/00/2119887_cover.jpg.jpg-optimized.jpg"}/
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-featured"}
              %i.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-featured"}
              %i.glyphicon.glyphicon-chevron-right
          / Carousel Mobile Featured
        / MOVIES THUMB
        .showcase-featured.hidden-xs.visible-lg
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
          .movie-featured-item.col-xs-6.col-sm-4.col-md-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                =image_tag("example_movie.jpg", class: "img-responsive")
        / MOVIES THUMB
    / SECOND COLUMN
    .col-xs-12.col-md-4
      .section-news
        .title-separator.ciner-news
          .media
            .media-left.media-middle
              %svg.icon-title
                %use{"xlink:href" => "#noticia"}
            .media-body.media-bottom
              .media-heading.title-section Notícias
            .media-body.text-right.media-middle
              %a{:href => "#"} ver mais
        / POSTS ITEMS
        .post-item
          %h4 The Year of Responsive Design.
          %p 2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands...
          %a.btn.btn-saiba-mais{:href => "#"} saiba mais
          %span.pull-right 07/04/2016
        .post-item
          %h4 The Year of Responsive Design.
          %p 2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands...
          %a.btn.btn-saiba-mais{:href => "#"} saiba mais
          %span.pull-right 07/04/2016
        .post-item
          %h4 The Year of Responsive Design.
          %p 2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands...
          %a.btn.btn-saiba-mais{:href => "#"} saiba mais
          %span.pull-right 07/04/2016
        .post-item
          %h4 The Year of Responsive Design.
          %p 2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands...
          %a.btn.btn-saiba-mais{:href => "#"} saiba mais
          %span.pull-right 07/04/2016
        / POSTS ITEMS
  / SECTION 02 CONTENT
  .row{:style => "margin-top: 30px;"}
    .col-xs-12.col-md-4.advertise
      %figure
        %img.img-responsive{:src => "http://placehold.it/360x300"}/
    .col-xs-12.col-md-8
      .title-separator.ciner-videos
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#video"}
          .media-body.media-bottom
            .media-heading.title-section Ciner vídeos
          .media-body.text-right.media-middle
            %a{:href => "#"} ver mais
      / CINER MOVIES
      .ciner-movie.col-xs-12.col-sm-6.col-md-4
        .thumb
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
      .ciner-movie.col-xs-12.col-sm-6.col-md-4
        .thumb
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/146901168?color=ffffff&byline=0&portrait=0", :style => "min-height: 220px; min-width: 100%;", :webkitallowfullscreen => "", :width => "100%"}
      .ciner-movie.col-xs-12.col-sm-6.col-md-4
        .thumb
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/137892682?color=ffffff&byline=0&portrait=0", :style => "min-height: 220px; min-width: 100%;", :webkitallowfullscreen => "", :width => "100%"}
  / SECTION 03 CONTENT
  .row
    / REVIEWS
    .col-xs-12.col-sm-12.col-md-7.col-lg-5
      .title-separator.ciner-review
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#critica"}
          .media-body.media-bottom
            .media-heading.title-section Críticas do mês
          .media-body.text-right.media-middle
            %a{:href => "#"} ver mais
      .reviews
        .review-item
          .col-xs-12.col-sm-5.thumb
            %figure
              %img.img-responsive{:src => "http://placehold.it/400x500"}/
          .col-xs-12.col-sm-7.resume
            %h4.title Batman vs Superman
            %span.subtitle A origem da justiça
            %span.original-title (Batman Vs Superman: Dawn of Justice)
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            %a.btn.btn-saiba-mais{:href => "#"} Saiba mais
        .review-item
          .col-xs-12.col-sm-5.thumb
            %figure
              %img.img-responsive{:src => "http://placehold.it/400x500"}/
          .col-xs-12.col-sm-7.resume
            %h4.title Batman vs Superman
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            %a.btn.btn-saiba-mais{:href => "#"} Saiba mais
    / SOCIAL CINER
    .col-xs-12.col-sm-12.col-md-5.col-lg-4
      .title-separator.ciner-social
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#twitter"}
          .media-body.media-bottom
            .media-heading.title-section Papo de Ciner
          .media-body.text-right.media-middle
            %a{:href => "#"} ver mais
      .social
        .social-item
          .col-xs-3
            %figure{:style => "border-radius: 100%; background: #FDFDFD; padding: 5px;"}
              %img.img-responsive{:src => "https://cdn2.iconfinder.com/data/icons/ourea-icons/128/Butterfly_256x256-32.png"}/
          .col-xs-9
            %h6 Lorem ipsum dolor
            %p{:style => "font-size: 12px;"}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet laoreet purus. Vivamus aliquet risus mi. Suspendisse sodales diam nu.
        .social-item
          .col-xs-3
            %figure{:style => "border-radius: 100%; background: #FDFDFD; padding: 5px;"}
              %img.img-responsive{:src => "https://cdn2.iconfinder.com/data/icons/ourea-icons/128/Butterfly_256x256-32.png"}/
          .col-xs-9
            %h6 Lorem ipsum dolor
            %p{:style => "font-size: 12px;"}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet laoreet purus. Vivamus aliquet risus mi. Suspendisse sodales diam nu.
        .social-item
          .col-xs-3
            %figure{:style => "border-radius: 100%; background: #FDFDFD; padding: 5px;"}
              %img.img-responsive{:src => "https://cdn2.iconfinder.com/data/icons/ourea-icons/128/Butterfly_256x256-32.png"}/
          .col-xs-9
            %h6 Lorem ipsum dolor
            %p{:style => "font-size: 12px;"}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet laoreet purus. Vivamus aliquet risus mi. Suspendisse sodales diam nu.
    / ADVERTISES
    .col-xs-12.col-sm-12.col-md-12.col-lg-3{:style => "margin-top: 40px;"}
      .col-xs-12.col-sm-6.col-md-offset-2.col-md-4.col-lg-offset-0.col-lg-12.advertises{:style => "margin-bottom: 20px;"}
        %figure
          %img.img-responsive{:src => "http://placehold.it/360x250"}/
      .col-xs-12.col-sm-6.col-md-4.col-lg-12.advertises
        %figure
          %img.img-responsive{:src => "http://placehold.it/360x250"}/
  .row{:style => "margin-top: 30px"}
    .col-xs-12.col-sm-12.col-md-7.col-lg-8
      .title-separator.ciner-discussion
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#debate"}
          .media-body.media-bottom
            .media-heading.title-section Debate Ciner
          .media-body.text-right.media-middle
            %a{:href => "#"} ver mais
      .discussion
        .discussion-item
          .title
            %a{:href => "#"} Quem assistiu Batman vs Superman?
            %span.author Criado por João. 13/04/2016
          .hidden-xs.views
            %span.comments
              %span.vermelho 1142
              comentários
            %span.views
              %span.vermelho 6584
              visualizações
          .hidden-xs.last-comment
            .thumb-user
              %figure
                %img.img-responsive{:src => "assets/imgs/user.jpg"}/
            .last-user
              %span.vermelho último comentário
              Joana 13/04/2016
        .discussion-item
          .title
            %a{:href => "#"} Quem assistiu Batman vs Superman?
            %span.author Criado por João. 13/04/2016
          .hidden-xs.views
            %span.comments
              %span.vermelho 1142
              comentários
            %span.views
              %span.vermelho 6584
              visualizações
          .hidden-xs.last-comment
            .thumb-user
              %figure
                %img.img-responsive{:src => "assets/imgs/user.jpg"}/
            .last-user
              %span.vermelho último comentário
              Joana 13/04/2016
        .discussion-item
          .title
            %a{:href => "#"} Quem assistiu Batman vs Superman?
            %span.author Criado por João. 13/04/2016
          .hidden-xs.views
            %span.comments
              %span.vermelho 1142
              comentários
            %span.views
              %span.vermelho 6584
              visualizações
          .hidden-xs.last-comment
            .thumb-user
              %figure
                %img.img-responsive{:src => "assets/imgs/user.jpg"}/
            .last-user
              %span.vermelho último comentário
              Joana 13/04/2016
        .discussion-item
          .title
            %a{:href => "#"} Quem assistiu Batman vs Superman?
            %span.author Criado por João. 13/04/2016
          .hidden-xs.views
            %span.comments
              %span.vermelho 1142
              comentários
            %span.views
              %span.vermelho 6584
              visualizações
          .hidden-xs.last-comment
            .thumb-user
              %figure
                %img.img-responsive{:src => "assets/imgs/user.jpg"}/
            .last-user
              %span.vermelho último comentário
              Joana 13/04/2016
        .discussion-item
          .title
            %a{:href => "#"} Quem assistiu Batman vs Superman?
            %span.author Criado por João. 13/04/2016
          .hidden-xs.views
            %span.comments
              %span.vermelho 1142
              comentários
            %span.views
              %span.vermelho 6584
              visualizações
          .hidden-xs.last-comment
            .thumb-user
              %figure
                %img.img-responsive{:src => "assets/imgs/user.jpg"}/
            .last-user
              %span.vermelho último comentário
              Joana 13/04/2016
    .col-xs-12.col-sm-12.col-md-5.col-lg-4
      .title-separator.ciner-search
        .media
          .media-left.media-middle
            %svg.icon-title
              %use{"xlink:href" => "#busca"}
          .media-body.media-bottom
            .media-heading.title-section Busca de Profissionais
          .media-body.text-right.media-middle
            %a{:href => "#"} ver mais
      %form.form-profissionais{:action => "#", :method => "POST"}
        .form-group
          %select#tipo_profissional.form-control{:name => "tipo_profissional"}
            %option{:disabled => "disabled", :selected => "selected"} Tipo profissional
            %option{:value => ""} option
            %option{:value => ""} option
            %option{:value => ""} option
        .form-group
          %select#idade.form-control{:name => "idade"}
            %option{:disabled => "disabled", :selected => "selected"} Idade
            %option{:value => ""} option
            %option{:value => ""} option
            %option{:value => ""} option
        .form-group
          %select#sexo.form-control{:name => "sexo"}
            %option{:disabled => "disabled", :selected => "selected"} Sexo
            %option{:value => ""} option
            %option{:value => ""} option
        .row
          .col-xs-5.form-group
            %select#estado.form-control{:name => "estado"}
              %option{:disabled => "disabled", :selected => "selected"} Estado
              %option{:value => ""} option
              %option{:value => ""} option
          .col-xs-7.form-group
            %select#cidade.form-control{:name => "cidade"}
              %option{:disabled => "disabled", :selected => "selected"} Cidade
              %option{:value => ""} option
              %option{:value => ""} option
        .row
          .col-xs-6.form-group
            %select#raca.form-control{:name => "raca"}
              %option{:disabled => "disabled", :selected => "selected"} Raça
              %option{:value => ""} option
              %option{:value => ""} option
          .col-xs-6.form-group
            %select#altura.form-control{:name => "altura"}
              %option{:disabled => "disabled", :selected => "selected"} Altura
              %option{:value => ""} option
              %option{:value => ""} option
        .row
          .col-xs-4.form-group
            %select#drt.form-control{:name => "drt"}
              %option{:disabled => "disabled", :selected => "selected"} DRT
              %option{:value => ""} option
              %option{:value => ""} option
          .col-xs-8.form-group
            %select#manequim.form-control{:name => "manequim"}
              %option{:disabled => "disabled", :selected => "selected"} Manequim
              %option{:value => ""} option
              %option{:value => ""} option
        .form-group
          %button.btn.btn-login{:type => "submit"}
            buscar
            %svg.icon-botao
              %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}