- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

- like_path ||= nil
- dislike_path ||= nil

.container.content{ id: "#{event.id}", style: 'padding-top: 15px; border-top: 1px solid #ccc;' }
  - place = event.place
  - unless place.blank?
    .row
      .col-xs-12
        %h5
          Local:
          = place

  - status = event.status_str
  - unless status.blank?
    .row
      .col-xs-12
        .highlight
          .button
            %span
              = status
          = event.datetime_str


  .row
    .col-xs-12.titulo{ style: 'margin-top: 5px; word-break: break-all;' }
      %h4.wine
        = event.title

  .row
    .col-xs-12{ style: 'overflow: hidden' }
      .event-description
        = event.description.html_safe

  - more = event.more
  - unless more.blank?
    .row{ data: { collapsed_area: '' } }
      .col-xs-12
        .row
          .col-xs-12
            %a{ data: { collapse_control: '' } }
              ver mais
        .row{ data: { collapse_content: '' } }
          .col-xs-12
            = event.more

