- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

- object = event
- cover = object.cover.url
- cover ||= image_path("default/movie/image.png")

.noticia-item{ style: 'padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #CCCCCC;' }
  .row
    .col-xs-3{ id: object.id }
      %img.img-responsive{ src: cover, style: 'height: 171px; width: 261px;' }
    .col-xs-9
      .wine{ style: 'height: 20px;' }
        - if object.state
          = object.state.name
          \-
        = object.place
        %span{ style: 'font-size: 12px; color: #ccc' }
          = event.datetime_str
      %h3.bold{ style: 'box-sizing: border-box; color: rgb(51, 51, 51); font-family: "Montserrat"; font-size: 20px; font-weight: 700; line-height: 26.4px; margin-bottom: 0px; margin-top: 10px; height: 37px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;' }
        - unless event.status_str.blank?
          .highlight{ style: 'font-size: 12px; width: auto; float: left; color: rgb(184, 184, 184); margin-bottom: 5px; margin-top: 10px; height: 30px; margin-top: 0px;' }
            .button{ style: 'cursor: normal; float: left; border: 1px solid $light-orange; border-radius: 8px; padding: 4px 10px; text-decoration: none; background: transparent; margin-right: 10px; margin-bottom: 5px;' }
              = event.status_str
        = object.title
      .desc{ style: 'max-height: 77px; font-size: 13px; overflow: hidden' }
        = object.description.html_safe

        - unless object.video.blank?
          %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'video') }, style: 'cursor: pointer;' }
            \.
            Assista ao vídeo

        - if object.event_images.any?
          %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'gallery') }, style: 'cursor: pointer;' }
            \.
            Veja a galeria

        - unless object.more.blank?
          %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'info') }, style: 'cursor: pointer;' }
            \.
            Informações completas aqui

      .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "small", style: 'margin-top: 20px;'}
        %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse", :target => "_blank"} Compartilhar
