- like_path ||= nil
- dislike_path ||= nil

.container.content{ class: (event.featured? ? 'featured' : '') }
  .row
    .col-xs-12
      .row
        .col-xs-12.titulo{ style: 'margin-top: 5px; word-break: break-all;' }
          %h4
            = event.title

      %hr

      .row
        .col-xs-12{ style: 'overflow: hidden' }
          .curriculum-biograpy
            = event.description.html_safe

            %p
              .wine
                = event.datetime_str

  #event-reaction
    = render 'shared/reactions', resource: event, like_path: like_path, dislike_path: dislike_path

= render 'shared/comments/index', resource: event, commentable_type: Event, commentable_id: event.id
