- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

/ Modal content
= simple_form_for [user_filmable] do |f|
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title
        Adicionar à Coleção
    .modal-body
      .row
        .col-xs-12
          .row
            .col-xs-12
              = f.hidden_field :action, value: "collection"
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :filmable_id, value: @filmable_id
              = f.hidden_field :filmable_type, value: @filmable_type

          .row
            .col-xs-3
              = label_tag "Tipo de Mídia"
            .col-xs-9
              = f.input :media, label: false, collection: [["Blu-ray", :bluray], ["DVD", :dvd], ["Digital", :digital], ["VHS", :vhs], ["Outra", :other_media]]

          .row
            .col-xs-3
              = label_tag "Loja"
            .col-xs-9
              = f.input :store, label: false, input_html: { placeholder: "Comprado em qual  loja?" }

          .row
            .col-xs-3
              = label_tag "Versão"
            .col-xs-9
              = f.input :version, label: false, collection: [["Simples", :simple], ["Dupla", :double], ["Colecionador", :collector], ["Comemorativa", :commemorative], ["Outra", :other_version]]

          .row
            .col-xs-3
              = label_tag "Capa Personalizada"
            .col-xs-9
              = f.input :cover, label: false

          .row
            .col-xs-3
              = label_tag "Presente"
            .col-xs-1
              = check_box_tag :gift, "", class: 'float: left;'

          .row
            .col-xs-3
              = label_tag "Valor pago em reais"
            .col-xs-9
              = f.input :price, label: false, input_html: { placeholder: "20,00" }

          .row
            .col-xs-3
              = label_tag "Data da Compra"
            .col-xs-9
              = f.input :bought, label: false, as: :string, value: I18n.l((f.object.bought || Date.today), format: :short), placeholder: "01/01/2017", class: 'datepicker'

          .row
            .col-xs-3
              = label_tag "ISBN"
            .col-xs-9
              = f.input :isbn, label: false, input_html: { placeholder: "Cadastre o ISBN do produto" }

          .row
            .col-xs-3
              = label_tag "Posição na Estante"
            .col-xs-9
              = f.input :position, label: false, as: :string, input_html: { placeholder: "Escolha a ordem em que aparecerá na estante" }

          .row
            .col-xs-3
              = label_tag "Empréstimo"
            .col-xs-9
              = f.input :borrowed, label: false, input_html: { placeholder: " Emprestado para quem? Quando? Anote aqui" }

          .row
            .col-xs-3
              = label_tag "Observações"
            .col-xs-9
              = f.input :observation, label: false, input_html: { placeholder: " Observações" }

          .row
            .col-xs-3.pull-right


    .modal-footer
      .pull-left
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          Fechar
      .pull-right
        = f.submit 'Salvar'
