- role = current_role(current_user, request.url)

/ Modal content
.modal-content
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h4.modal-title
      = user_filmable.filmable.title_str
  .modal-body
    .row
      .col-xs-4
        - cover = user_filmable.cover unless user_filmable.cover.url.blank?
        - object = user_filmable.filmable
        - cover ||= object.cover
        - cover ||= image_path("default/movie/image.png")

        = link_to [role, object] do
          = image_tag(cover, class: "img-responsive", style: 'height: 250px; width: 166px;')
      .col-xs-8
        - unless user_filmable.media.blank?
          .row
            .col-xs-5.wine
              Tipo de Mídia
            .col-xs-7
              = user_filmable.media_str

        - unless user_filmable.store.blank?
          .row
            .col-xs-5.wine
              Loja
            .col-xs-7
              = user_filmable.store

        - unless user_filmable.version.blank?
          .row
            .col-xs-5.wine
              Versão
            .col-xs-7
              = user_filmable.version_str

        - if user_filmable.gift
          .row
            .col-xs-5.wine
              Presente?
            .col-xs-7
              = user_filmable.gift ? 'Sim' : 'Não'

        - unless user_filmable.price.blank?
          .row
            .col-xs-5.wine
              Valor pago em reais
            .col-xs-7
              R$
              = user_filmable.price

        - unless user_filmable.bought.blank?
          .row
            .col-xs-5.wine
              Data da Compra
            .col-xs-7
              = I18n.l(user_filmable.bought, format: :long)

        - unless user_filmable.isbn.blank?
          .row
            .col-xs-5.wine
              ISBN
            .col-xs-7
              = user_filmable.isbn

        - unless user_filmable.position.blank?
          .row
            .col-xs-5.wine
              Posição na Estante:
            .col-xs-7
              = user_filmable.position

        - unless user_filmable.borrowed.blank?
          .row
            .col-xs-5.wine
              Empréstimo
            .col-xs-7
              = user_filmable.borrowed

        - unless user_filmable.observation.blank?
          .row
            .col-xs-5.wine
              Observações
            .col-xs-7
              = user_filmable.observation

  .modal-footer.user-collection-actions
    %ul{ style: 'padding: 0px' }
      - user_collection = user_collections(current_user, user_filmable.filmable)

      - if user_collection.count > 1
        %li.dropdown{ style: 'float: left;' }
          %button.btn.btn-default.dropdown-toggle{ style: 'float: left; margin-right: 5px;', "data-toggle" => "dropdown", :href => "#"}
            Editar
          .dropdown-menu.horizontal{ style: 'padding: 5px;' }
            - user_collection.each_with_index do |user_collection_item, index|
              %button.btn.btn-default.edit-shelf{ style: 'width: 100%; margin-bottom: 5px; margin-left: 0;', data: { user_filmable_id: user_collection_item.id, url: edit_user_filmable_path(user_collection_item) } }
                = "Editar Mídia #{index + 1}"
      - else
        / = link_to edit_user_filmable_path(user_filmable) do
        %li{ style: 'float: left;' }
          %button.btn.btn-default.edit-shelf{ style: 'float: left; margin-right: 5px;', data: { user_filmable_id: user_filmable.id, url: edit_user_filmable_path(user_filmable) } }
            Editar

      %li{ style: 'float: left;' }
        %button.btn.btn-default.edit-shelf{ style: 'float: left; margin-right: 5px;', data: { user_filmable_id: user_filmable.id, url: new_user_filmable_path(filmable_id: user_filmable.filmable_id, filmable_type: user_filmable.filmable_type) } }
          Adicionar Mídia

      - if user_collection.count > 1
        %li.dropdown{ style: 'float: left;' }
          %button.btn.btn-default.dropdown-toggle{ style: 'float: left; margin-right: 5px;', "data-toggle" => "dropdown", :href => "#"}
            Remover da Coleção
          .dropdown-menu.horizontal{ style: 'padding: 5px;' }
            - user_collection.each_with_index do |user_collection_item, index|
              = link_to user_filmable_path(user_collection_item), method: 'delete', style: 'width: 100%;', data: { confirm: 'Deseja mesmo remover esse item de sua coleção?' } do
                %button.btn.btn-default{ style: 'width: 100%; margin-bottom: 5px;' }
                  = "Remover Mídia #{index + 1} da Coleção"
      - else
        %li{ style: 'float: left;' }
          = link_to user_filmable_path(user_filmable), method: 'delete', data: { confirm: 'Deseja mesmo remover esse item de sua coleção?' }, style: 'float: left; margin-right: 15px;' do
            %button.btn.btn-default
              Remover da Coleção

      %li
        %button.btn.btn-default{style: 'float: right;', "data-dismiss" => "modal", :type => "button"}
          Fechar
