- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

/ Modal content
.modal-content
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h4.modal-title
      = user_filmable.filmable.title_str
  .modal-body
    .row
      .col-xs-4
        - object = user_filmable.filmable
        - cover = object.cover
        - cover ||= "http://placehold.it/550x700"

        = image_tag(cover, class: "img-responsive", style: 'height: 300px; width: 200px;')
      .col-xs-8
        .row
          .col-xs-12
            = link_to [role, user_filmable.filmable] do
              = user_filmable.filmable.title_str

        - if user_filmable.media
          .row
            .col-xs-3.wine
              Tipo de Mídia
            .col-xs-9
              = user_filmable.media_str

        - if user_filmable.store
          .row
            .col-xs-3.wine
              Loja
            .col-xs-9
              = user_filmable.store

        - if user_filmable.version
          .row
            .col-xs-3.wine
              Versão
            .col-xs-9
              = user_filmable.version

        - if user_filmable.gift
          .row
            .col-xs-3.wine
              Presente?
            .col-xs-9
              = user_filmable.gift ? 'Sim' : 'Não'

        - if user_filmable.price
          .row
            .col-xs-3.wine
              Valor pago em reais
            .col-xs-9
              R$
            = user_filmable.price

        - if user_filmable.bought
          .row
            .col-xs-3.wine
              Data da Compra
            .col-xs-9
              = I18n.l(user_filmable.bought, format: :long)

        - if user_filmable.isbn
          .row
            .col-xs-3.wine
              ISBN
            .col-xs-9
              = user_filmable.isbn

        - if user_filmable.position
          .row
            .col-xs-3.wine
              Posição na Estante:
            .col-xs-9
              = user_filmable.position

        - if user_filmable.borrowed
          .row
            .col-xs-3.wine
              Empréstimo
            .col-xs-9
              = user_filmable.borrowed

        - if user_filmable.observation
          .row
            .col-xs-3.wine
              Observações
            .col-xs-9
              = user_filmable.observation

  .modal-footer
    .pull-left
      = link_to user_filmable_path(user_filmable), method: 'delete', data: { confirm: 'Deseja mesmo remover esse item de sua coleção?' } do
        %button.btn.btn-default
          Remover da Coleção
      / = link_to edit_user_filmable_path(user_filmable) do
      %button.btn.btn-default.edit-shelf{ data: { user_filmable_id: user_filmable.id, url: edit_user_filmable_path(user_filmable) } }
        Editar
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
      Fechar
