- role = current_role(current_user, request.url)

= render 'shared/breadcrumbs'

.container
  .row
    .col-xs-12.col-sm-8
      = render 'shared/series/toolbar'
      - unless playing_filmables.blank?
        = render 'shared/series/index/playing', role: role, filmables: playing_filmables, see_more_url: url_for([role, :series, :playing])
      - unless featured_filmables.blank?
        = render 'shared/series/index/featured', role: role, filmables: featured_filmables, see_more_url: url_for([role, :series, :featured])
      - unless playing_soon_filmables.blank?
        = render 'shared/series/index/playing_soon', role: role, filmables: playing_soon_filmables, see_more_url: url_for([role, :series, :playing_soon])
      - unless available_netflix_filmables.blank?
        = render 'shared/series/index/available_netflix', role: role, filmables: available_netflix_filmables, see_more_url: url_for([role, :series, :available_netflix])
    .hidden-xs.col-sm-4
      = render 'shared/series/index/birthdays', role: role
