- object = serie

- if object.omdb_trailer
  #ficha-tecnica
    .title-separator
      .media
        .media-left.media-middle
          %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
            %use{"xlink:href" => "#video"}
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:trailer)

    .ficha
      .info
        %iframe{ allowfullscreen: "", frameborder: "0", height: "315px", src: object.omdb_trailer.to_s, width: "100%"}

- if object.writers.any?
  #roteiro.roteiro
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:writers_str)
    .roteiristas
      .row
        - object.writers.each do |filmable_professional|
          = render 'shared/series/professional', professional: filmable_professional.professional, professional_class: 'roteirista'

- if object.directors.any?
  #direcao.direcao
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:directors_str)
    .diretores
      .row
        - object.directors.each do |filmable_professional|
          = render 'shared/series/professional', professional: filmable_professional.professional, professional_class: 'diretor'

- if object.actors.any?
  #elenco.elenco
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:cast_str)
    .atores-principais
      .row
        - object.actors.first(6).each do |filmable_professional|
          = render 'shared/series/professional', professional: filmable_professional.professional, professional_class: 'diretor', data_mh: 'atores-principais', observation: filmable_professional.observation
    .atores
      - object.actors.each_with_index do |filmable_professional, index|
        - if index > 5
          =  render 'shared/series/professional_row', professional: filmable_professional.professional, data_mh: 'group', observation: filmable_professional.observation

- if object.serie_seasons.any?
  #temporada.temporada
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            Temporadas

    - seasons = object.serie_seasons
    - seasons.each do |season|
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              = season.name

      - if season.serie_season_episodes.any?
        - episodes = season.serie_season_episodes
        - episodes.each do |episode|
          .atores
            .row
              .col-xs-6.ator
                = episode.name
              .col-xs-6.personagem
                = episode.overview

