- role = current_role(current_user, request.url)

.container.content
  .row{ style: 'padding: 2.5px;' }
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              Séries
  .row
    .col-xs-12
      .row
        - @results.each do |object|
          - cover = image_default_path(object.cover, "movie")

          .col-xs-6.col-sm-3.col-md-2.no-shelf{ style: 'margin-bottom: 0px;' }
            = link_to url_for([role, object]) do
              / %img.img-responsive{ src: cover, style: 'width: 200px; height: 300px;' }
              = image_tag(cover, class: "img-responsive", style: 'width: 200px; height: 300px;')
            .title{ style: 'height: 60px; overflow: hidden;'}
              = link_to url_for([role, object]) do
                = object.title_str
              %span
                = object.filmable_year
