- content_for :javascript, javascript_include_tag('components/header')

.banner
  / ACTIONBAR
  .actionbar.nav-container
    .container{ data: { container: { full: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-12.col-sm-10.col-md-10
          %span.hidden-xs>
          = link_to 'Anuncie aqui', '#'
          \|
          = link_to 'Entre em contato', '#'
        .col-xs-12.col-sm-1.col-md-2.social
          = link_to image_tag("icons/ico_facebook_branco.png", alt: "Facebook", class: "img-responsive"), '#'
          = link_to image_tag("icons/ico_twitter_branco.png", alt: "Twitter", class: "img-responsive"), '#'
    .container.collapse{ data: { container: { fixed: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-2
          = link_to root_path do
            .logo
              %figure
                = image_tag("logo_home.png", alt: "CINER", class: "img-responsive", style: 'height: 30px; width: 90px; margin: auto; margin-bottom: 10px;')
        .col-xs-8
          %ul.menu.row
            %li.col-sm-2{ class: active_menu_class("movies") }
              = link_to "FILMES",   platform_movies_path
            %li.col-sm-2{ class: active_menu_class("series") }
              = link_to "SÉRIES",   platform_series_index_path
            %li.col-sm-2{ class: active_menu_class("ciner_videos") }
              = link_to "CINER VÍDEOS",   cinervideos_path
            %li.col-sm-2{ class: active_menu_class("critics") }
              = link_to "CRÍTICAS",   platform_critics_path
            %li.col-sm-2{ class: active_menu_class("broadcasts") }
              = link_to "NOTÍCIAS",   platform_broadcasts_path
            %li.col-sm-2{ class: active_menu_class("questions") }
              = link_to "DEBATE CINER", platform_questions_path
        .col-xs-2

  / BANNER
  .banner-front
    .container
      / SECTION LOGIN
      .row.section-login
        = link_to root_path do
          .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6.col-md-offset-1.col-md-6.logo
            %figure= image_tag("logo_home.png", alt: "CINER", class: "img-responsive")
        = render 'layouts/login'

      / SECTION LOGIN
      / MENU
      .row{:style => "margin: 15px 0;"}
        %nav
          .navbar-header
            %button.navbar-toggle{"data-target" => "#mainmenu", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #mainmenu.collapse.navbar-collapse
            %ul.menu
              %li.col-xs-12.col-sm-2{ class: active_menu_class("movies") }
                = link_to "FILMES",   platform_movies_path
              %li.col-xs-12.col-sm-2{ class: active_menu_class("series") }
                = link_to "SÉRIES",   platform_series_index_path
              %li.col-xs-12.col-sm-2{ class: active_menu_class("ciner_videos") }
                = link_to "CINER VÍDEOS",   cinervideos_path
              %li.col-xs-12.col-sm-2{ class: active_menu_class("critics") }
                = link_to "CRÍTICAS",   platform_critics_path
              %li.col-xs-12.col-sm-2{ class: active_menu_class("broadcasts") }
                = link_to "NOTÍCIAS",   platform_broadcasts_path
              %li.col-xs-12.col-sm-2{ class: active_menu_class("questions") }
                = link_to "DEBATE CINER", platform_questions_path
      / MENU
    .search-field
      .col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-8
        %form.form-horizontal.form-search{"accept-charset" => "utf-8", :action => "#", :method => "GET"}
          .form-group
            .col-xs-8.col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-7.col-lg-offset-3.col-lg-6
              %input#search.form-control{:name => "search", :placeholder => "digite sua busca aqui...", :type => "text"}/
            .col-xs-12.col-sm-2.col-md-3.col-lg-3
              %button.btn.btn-login{:type => "submit"}
                buscar
                %span.icon.icon-button
