.container.content
  .row
    .col-xs-12
      .title-separator
        .media{ style: 'display: flex; align-items: center; width: 100%; height: 55px;' }
          .media-left.media-middle{ style: 'height: 2em;' }
            %i.fa.fa-id-card-o.fa-2x.wine
          .media-body.media-bottom
            .media-heading.title-section Entre em contato

  .row
    .col-xs-12
      = simple_form_for [contact] do |f|
        .row
          .col-xs-12.col-sm-4
            = f.input :name, placeholder: 'Nome', label: false
          .col-xs-12.col-sm-4
            = f.input :email, placeholder: 'E-mail', label: false
          .col-xs-12.col-sm-4
            = f.input :subject, collection: Contact.localized_detailed_subjects, label: false, include_blank: 'Motivo do Contato'

        .row
          .col-xs-12{ data: { limited: '', limit: 1000 } }
            %div{ data: { limited: '', limit: 1000 } }
              = f.input :message, as: :text, label: false, input_html: { placeholder: 'Deixe aqui sua mensagem', rows: 5 }, maxlength: 1000
              %span.char-counter
                = t('remaining_chars', chars: 1000)

        .row
          .col-xs-4.pull-right
            = f.button :submit, "Enviar"


