.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-id-card-o.fa-2x.wine
          .media-body.media-bottom
            .media-heading.title-section Entre em contato

  .row
    .col-xs-12
      .row
        .col-xs-12.col-sm-4
          = text_field_tag :name, "", placeholder: 'Nome'
        .col-xs-12.col-sm-4
          = text_field_tag :email, "", placeholder: 'E-mail'
        .col-xs-12.col-sm-4
          = select_tag :media, options_for_select([["Elogio", :dvd], ["Sugestão", :digital], ["Reclamação", :vhs], ["Financeiro", :vhs], ["Outro", :other_media]])

      .row
        .col-xs-12
          = text_area_tag :content, "", as: :string, placeholder: 'Mensagem', rows: 4

      .row
        .col-xs-4.pull-right
          = submit_tag "Enviar"


