- role = current_role(current_user, request.url)

.container.content
  .row{ style: 'padding: 2.5px;' }
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              Em Destaque

  .row
    .col-xs-12
      .row
        - filmables.each do |filmable|
          - object = filmable
          - cover = object.cover
          - cover ||= image_path("default/movie/image.png")

          .col-sm-2.no-shelf{ style: 'margin-bottom: 0px; width: 20%;' }
            = link_to url_for([role, object]) do
              = image_tag(cover, class: "img-responsive", style: 'width: 200px; height: 300px;')
            .title{ style: 'height: 60px; overflow: hidden;'}
              = link_to url_for([role, object]) do
                = object.title_str
              %span
                = object.filmable_year
