- first = ciner_videos.first
- second = ciner_videos.second
- third = ciner_videos.third
- fourth = ciner_videos.fourth

.col-xs-12.col-md-8.ciner-videos{ style: 'margin-top: -10px' }
  .title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{ "xlink:href": "#video" }
      .media-body.media-bottom
        .media-heading.title-section
          Ciner Vídeos
      .media-body.text-right.media-middle.see-more
        = link_to url_for([role, :ciner_videos]) do
          = t('see_more')

  - unless first.blank?
    - object = first
    / CINER MOVIES
    .ciner-movie.col-xs-12.col-sm-6.col-md-3{ style: 'margin-left: 0px' }
      .thumb
        / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "172px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
        - if object.trailer.url
          %video{:controls => "", :height => "172px", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - elsif object.video.url
          %video{:controls => "", :height => "240", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - else
          - cover = object.cover
          - cover ||= image_path("default/ciner_video/image.png")

          %img.img-responsive{ src: cover, style: 'height: 172px; width: 100%;' }

      .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
        = link_to object.title_str, url_for([role, object])
      .ciner-video-user
        .user
          - user = object.user
          = link_to url_for([role, user]) do
            - avatar = user.avatar
            - avatar ||= image_path("default/user/image.png")
            %img.img-responsive{ src: avatar }
          .name
            = link_to url_for([role, user]) do
              = user.name

  - unless second.blank?
    - object = second
    .ciner-movie.col-xs-12.col-sm-6.col-md-3
      .thumb
        / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "172px", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/146901168?color=ffffff&byline=0&portrait=0", :style => "min-height: 172px; min-width: 100%;", :webkitallowfullscreen => "", :width => "100%"}
        - if object.trailer.url
          %video{:controls => "", :height => "172px", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - elsif object.video.url
          %video{:controls => "", :height => "240", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - else
          - cover = object.cover
          - cover ||= image_path("default/ciner_video/image.png")

          %img.img-responsive{ src: cover, style: 'height: 172px; width: 100%;' }
      .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
        = link_to object.title_str, url_for([role, object])
      .ciner-video-user
        .user
          - user = object.user
          = link_to url_for([role, user]) do
            - avatar = user.avatar
            - avatar ||= image_path("default/user/image.png")
            %img.img-responsive{ src: avatar }
          .name
            = link_to url_for([role, user]) do
              = user.name

  - unless third.blank?
    - object = third
    .ciner-movie.col-xs-12.col-sm-6.col-md-3
      .thumb
        / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "172px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
        - if object.trailer.url
          %video{:controls => "", :height => "172px", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - elsif object.video.url
          %video{:controls => "", :height => "240", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - else
          - cover = object.cover
          - cover ||= image_path("default/ciner_video/image.png")

          %img.img-responsive{ src: cover, style: 'height: 172px; width: 100%;' }
      .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
        = link_to object.title_str, url_for([role, object])
      .ciner-video-user
        .user
          - user = object.user
          = link_to url_for([role, user]) do
            - avatar = user.avatar
            - avatar ||= image_path("default/user/image.png")
            %img.img-responsive{ src: avatar }
          .name
            = link_to url_for([role, user]) do
              = user.name

  - unless fourth.blank?
    - object = fourth
    .ciner-movie.col-xs-12.col-sm-6.col-md-3{ style: 'margin-right: 0px' }
      .thumb
        / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "172px", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/146901168?color=ffffff&byline=0&portrait=0", :style => "min-height: 172px; min-width: 100%;", :webkitallowfullscreen => "", :width => "100%"}
        - if object.trailer.url
          %video{:controls => "", :height => "172px", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - elsif object.video.url
          %video{:controls => "", :height => "240", :width => "100%"}
            %source{:src => object.trailer, :type => "video/mp4"}
              Your browser does not support the video tag.
        - else
          - cover = object.cover
          - cover ||= image_path("default/ciner_video/image.png")

          %img.img-responsive{ src: cover, style: 'height: 172px; width: 100%;' }
      .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
        = link_to object.title_str, url_for([role, object])
      .ciner-video-user
        .user
          - user = object.user
          = link_to url_for([role, user]) do
            - avatar = user.avatar
            - avatar ||= image_path("default/user/image.png")
            %img.img-responsive{ src: avatar }
          .name
            = link_to url_for([role, user]) do
              = user.name
