= simple_form_for [:admin, broadcast] do |f|
  %h3
    = t('.general')

  .row
    .col-xs-12{ data: { limited: '', limit: 40 } }
      = f.input :title, input_html: { rows: 1 }, maxlength: 40
      %span.char-counter
        = t('remaining_chars', chars: 40)

  .row
    .col-xs-12{ data: { limited: '', limit: 100 } }
      = f.input :subtitle, input_html: { rows: 1 }, maxlength: 100
      %span.char-counter
        = t('remaining_chars', chars: 100)

  .row
    .col-xs-12{ data: { limited: '', limit: 550 } }
      = f.input :content, input_html: { rows: 5 }, maxlength: 550
      %span.char-counter
        = t('remaining_chars', chars: 550)

  .row
    .col-xs-6{ data: { limited: '', limit: 30 } }
      = f.input :more, input_html: { rows: 5 }, maxlength: 30
      %span.char-counter
        = t('remaining_chars', chars: 30)
    .col-xs-6
      = f.input :broadcast_date, as: :string, input_html: { value: (localize(f.object.broadcast_date) if f.object.broadcast_date), class: 'datepicker' }

  .row
    .col-xs-12
      %h3.wine
        = f.label :cover

  .row
    .col-xs-4
      = f.input :cover, label: false

  .row
    .col-xs-4
      = checkbox_item(f, :spoiler)
    - if current_user.admin?
      .col-xs-4
        = checkbox_item(f, :featured)

  .row
    .col-xs-4
      = f.input :video

  .row
    .col-xs-6
      %h3.wine
        Filmes / Séries

    .col-xs-6
      %h3.wine
        Imagens

  .row
    .col-xs-6
      = render 'admin/broadcasts/broadcast_broadcastables/nested', f: f

    .col-xs-6
      = render 'admin/broadcasts/broadcast_images/nested', f: f

  = render 'shared/form_actions', f: f
