- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: Broadcast.model_name.human(count: 2), path: new_admin_broadcast_path

= render 'shared/broadcasts/toolbar', path: admin_broadcasts_path

- if broadcasts.any?
  %table
    %thead
      %tr
        %th
          = Broadcast.human_attribute_name(:title)
        %th
          = Broadcast.human_attribute_name(:content)

        / Actions
        %th{ colspan: 2 }
    %tbody
      - broadcasts.each do |broadcast|
        %tr
          %td
            = link_to admin_broadcast_path(broadcast) do
              = broadcast.title.truncate(30)

          %td
            = link_to admin_broadcast_path(broadcast) do
              = broadcast.collapsed_content

          %td
            = link_to edit_admin_broadcast_path(broadcast) do
              %i.fa.fa-pencil
          %td
            = link_to admin_broadcast_path(broadcast), method: 'delete' do
              %i.fa.fa-trash

  = render 'shared/pagination', resources: broadcasts
- else
  = render 'shared/alerts/info', message: (t('empty', klass: Broadcast.model_name.human(count: 2)))
