#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Áudios

  .row
    - if curriculum.audio1.url
      .col-xs-4
        = link_to "Download #{curriculum.audio1.filename}", curriculum.audio1.url, download: ""

    - if curriculum.audio2.url
      .col-xs-4
        = link_to "Download #{curriculum.audio2.filename}", curriculum.audio2.url, download: ""
    - if curriculum.audio3.url
      .col-xs-4
        = link_to "Download #{curriculum.audio3.filename}", curriculum.audio3.url, download: ""
