- content_for :javascript, javascript_include_tag('components/filters')
- content_for :stylesheet, stylesheet_link_tag('components/filters')

= hidden_field_tag :filtered, ((params[:search] && !params[:search].blank?) || (params[:filter] && !params[:filter].blank?))

#filters.filters{ data: { dynamic_filter: '' } }
  = simple_form_for :filter, url: request.url, method: :get, data: { filter_form: '' } do |f|
    = hidden_field_tag :search, params[:search]
    .row
      .col-xs-3
        = f.input :curriculum_function_id, label: false, collection: CurriculumFunction.all, input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Profissão', selected: params.fetch(:filter, {}).fetch(:curriculum_function_id, '')
      .col-xs-1
        = f.input :age, label: false, collection: [["18 a 25", :"18-25"], ["26 a 35", :"26-35"], ["36 a 45", :"36-45"], ["46 a 55", :"46-55"], ["56 a 65", :"56-65"]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Idade', selected: params.fetch(:filter, {}).fetch(:age, '')
      .col-xs-2
        = f.input :gender, label: false, collection: User.localized_genders, input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Sexo', selected: params.fetch(:filter, {}).fetch(:gender, '')
      .col-xs-3
        = f.input :state_id, label: false, collection: State.all, input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Estado', selected: params.fetch(:filter, {}).fetch(:state_id, '')
      .col-xs-3
        = f.input :city_id, label: false, collection: City.all, input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Cidade', selected: params.fetch(:filter, {}).fetch(:city_id, '')
    .row
      .col-xs-3
        = f.input :ethnicity, label: false, collection: [["Amarela", :yellow], ["Branca", :white], ["Indígena", :indigenous], ["Parda", :brown], ["Preta", :afrodescendant]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Raça', selected: params.fetch(:filter, {}).fetch(:ethnicity, '')
      .col-xs-3
        = f.input :height, label: false, collection: [["Abaixo de 1m", 1], ["1,01m a 1,20m", 2], ["1,21m a 1,40m", 3], ["1,41m a 1,60m", 4], ["1,61m a 1,80m", 5], ["1,81m a 2m", 6], ["Acima de 2m", 7]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Altura', selected: params.fetch(:height, {}).fetch(:height, '')
      .col-xs-3
        = f.input :mannequin, label: false, collection: [["34 a 38", :"34_38"], ["40 a 44", :"40_44"], ["46 a 50", :"46_50"], ["52 a 56", :"52_56"]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Manequim', selected: params.fetch(:filter, {}).fetch(:drt, '')
      .col-xs-3
        = f.input :drt, label: false, collection: [["Sim", true], ["Não", false]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Possui DRT', selected: params.fetch(:filter, {}).fetch(:drt, '')
