#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Arquivos

  .row
    - if curriculum.file1.url
      .col-xs-4
        = link_to "Download #{curriculum.file1.filename}", curriculum.file1.url, download: ""

    - if curriculum.file2.url
      .col-xs-4
        = link_to "Download #{curriculum.file2.filename}", curriculum.file2.url, download: ""
    - if curriculum.file3.url
      .col-xs-4
        = link_to "Download #{curriculum.file3.filename}", curriculum.file3.url, download: ""
