#arquivos.criticas
  .title-separator
    .media
      .media-body.media-bottom
        .media-heading.title-section
          Galeria

  .row
    - if curriculum.photo1.url
      = link_to curriculum.photo1.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo1, style: "width: 200px; height: 150px;" }

    - if curriculum.photo2.url
      = link_to curriculum.photo2.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo2, style: "width: 200px; height: 150px;" }

    - if curriculum.photo3.url
      = link_to curriculum.photo3.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo3, style: "width: 200px; height: 150px;" }

    - if curriculum.photo4.url
      = link_to curriculum.photo4.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo4, style: "width: 200px; height: 150px;" }

    - if curriculum.photo5.url
      = link_to curriculum.photo5.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo5, style: "width: 200px; height: 150px;" }

    - if curriculum.photo6.url
      = link_to curriculum.photo6.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo6, style: "width: 200px; height: 150px;" }

    - if curriculum.photo7.url
      = link_to curriculum.photo7.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo7, style: "width: 200px; height: 150px;" }

    - if curriculum.photo8.url
      = link_to curriculum.photo8.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo8, style: "width: 200px; height: 150px;" }

    - if curriculum.photo9.url
      = link_to curriculum.photo9.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo9, style: "width: 200px; height: 150px;" }

    - if curriculum.photo10.url
      = link_to curriculum.photo10.url, target: '_blank' do
        .col-xs-2{ style: "width: 200px; height: 170px;" }
          %img.img-responsive{ src: curriculum.photo10, style: "width: 200px; height: 150px;" }
