- role = role
- object = curriculum
- avatar = object.current_avatar

.internal-section-detail-filmable
  .filmable
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          %img.img-responsive{ src: avatar, style: 'height: 300px; width: 300px;' }
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              Profissão
              %a.wine.bold
                = object.curriculum_function_name
              %br
              %br

              .title
                %h3.bold.wine
                  = object.title_str
                - unless object.user_age.blank?
                  %h4.light.cinza
                    = object.user_age
                    anos

              %br

            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              - if current_user == object.user
                .row
                  .col-xs-6
                    = link_to url_for([:edit, role, object]) do
                      .nota{ style: 'padding: 5px;' }
                        .valor{ style: 'font-size: 20px; line-height: 34px;' }
                          Editar
                        .valor{ style: 'font-size: 20px; line-height: 34px;' }
                          Currículo
              - else
                .row
                  .col-xs-6
                    = link_to '#' do
                      .nota{ style: 'padding: 5px;' }
                        .valor{ style: 'font-size: 20px; line-height: 24px;' }
                          Quero entrar em contato com este profissional

          - unless object.user_gender_str.blank?
            .row
              .col-xs-12
                = object.user_gender_str

          - unless object.user_simple_address.blank?
            .row
              .col-xs-12
                = object.user_simple_address

          .row
            .col-xs-12{ style: 'overflow: hidden' }
              .title
                - unless object.biography_str.blank?
                  .curriculum-biograpy
                    = object.biography_str
                  %br

                - unless object.winnings_str.blank?
                  Premiações
                  %span.bold.wine
                    = object.winnings_str
                  %br

                - unless object.jobs_str.blank?
                  Trabalhos
                  %span.bold.wine
                    = object.jobs_str
                  %br

                - unless object.drt_str.blank?
                  Possui DRT
                  %span.bold.wine
                    = object.drt_str
                  %br

                - unless object.ethnicity_str.blank?
                  Raça:
                  %span.bold.wine
                    = object.ethnicity_str

                - unless object.height_str.blank?
                  Altura:
                  %span.bold.wine
                    = object.height_str

                - unless object.mannequin_str.blank?
                  Manequim:
                  %span.bold.wine
                    = object.mannequin_str
                  %br

          = render 'shared/curriculums/user_actions', object: object, role: role
