- role = role
- object = curriculum
- avatar = object.current_avatar.avatar

.internal-section-detail-filmable
  .filmable
    .container
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
          %img.img-responsive{ src: avatar, style: 'height: 300px; width: 300px;' }
        .col-xs-12.col-sm-12.col-md-9.col-lg-9
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              Profissão
              %a.wine.bold
                = object.curriculum_function_name
              %br

              .title{ style: 'margin-top: 10px;' }
                %h3.bold.wine
                  = object.title_str
                - unless object.user_age.blank?
                  %h4.light.cinza
                    = object.user_age
                    anos

            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              - if current_user == object.user
                .row
                  .col-xs-6.pull-right
                    = link_to url_for([:edit, role, object]), class: 'pull-right' do
                      %button.btn.btn-login{ style: "width: 100%;" }
                        %span.text
                          Editar Currículo
                        %span.icon.icon-button
              - else
                .row
                  .col-xs-6
                    = link_to '#' do
                      .nota{ style: 'padding: 5px;' }
                        .valor{ style: 'font-size: 16px; line-height: 18px;' }
                          Quero entrar em contato com este profissional

          - unless object.user_gender_str.blank?
            .row
              .col-xs-12
                = object.user_gender_str

          - unless object.user_simple_address.blank?
            .row
              .col-xs-12
                = object.user_simple_address

          .row
            .col-xs-12{ style: 'overflow: hidden' }
              .title
                - unless object.biography_str.blank?
                  .curriculum-biograpy
                    = object.biography_str
                  %br

                - unless object.awards.blank?
                  Premiações
                  %span.bold.wine
                    = object.awards
                  %br

                - unless object.jobs.blank?
                  Trabalhos
                  %span.bold.wine
                    = object.jobs
                  %br

                - unless object.drt_str.blank?
                  Possui DRT
                  %span.bold.wine
                    = object.drt_str
                  %br

                - unless object.ethnicity_str.blank?
                  Raça:
                  %span.bold.wine
                    = object.ethnicity_str

                - unless object.height_str.blank?
                  Altura:
                  %span.bold.wine
                    = object.height_str

                - unless object.mannequin_str.blank?
                  Manequim:
                  %span.bold.wine
                    = object.mannequin_str
                  %br

          / = render 'shared/curriculums/user_actions', object: object, role: role
