- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

- content_for :stylesheet, stylesheet_link_tag('views/shared/toolbar')
- content_for :javascript, javascript_include_tag('views/shared/toolbar')

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              = "Curriculums"


      = render 'shared/curriculums/toolbar'

      .row
        - curriculums.each do |curriculum|
          - object = curriculum
          - cover = object.current_avatar

          .col-sm-2.col-xs-3.no-shelf
            = link_to url_for([role, object]) do
              = image_tag(cover, class: "img-responsive")
            .wine
              = object.title_str
            = object.age_str
