/ - content_for :javascript, javascript_include_tag('components/collapser')

- role = current_role(current_user, request.url)

= render 'shared/curriculums/general', curriculum: curriculum, role: role

.container
  .row
    .col-xs-12
      = render 'shared/curriculums/gallery', curriculum: curriculum, role: role
      = render 'shared/curriculums/videos', curriculum: curriculum, role: role
      = render 'shared/curriculums/audios', curriculum: curriculum, role: role
      = render 'shared/curriculums/files', curriculum: curriculum, role: role
