- filmable = critic.filmable
- cover = image_default_path(filmable.cover, "movie")

.col-xs-12
  .row
    .review-item{ style: 'width: 100%' }
      .col-xs-12.col-sm-5.thumb
        %figure
          / %img.img-responsive{ src: cover }
          = image_tag(cover, class: "img-responsive")
      .col-xs-12.col-sm-7.resume
        %h4.title
          = filmable.title_str
        %span.original-title
          = filmable.original_title
        %p
          = critic.collapsed_content
        = link_to user_critic_path do
          .btn.btn-saiba-mais
            Leia mais
