- role = current_role(current_user, request.url)

.container.content
  .row
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section
              = "Coleção de #{user.name}"

      = render 'shared/users/collection/toolbar'

      .row
        - filmables.each_slice(6) do |slice|
          - slice.each do |user_filmable|
            - cover = user_filmable.cover unless user_filmable.cover.url.blank?
            - object = user_filmable.filmable
            - cover ||= object.cover
            - cover ||= image_path("default/movie/image.png")

            .col-sm-2.shelf
              = link_to url_for([role, object]) do
                = image_tag(cover, class: "img-responsive", style: 'width: 133px; height: 195px;' )

          - if slice.count < 6
            - (6 - slice.count).times do
              - cover = image_path("default/movie/image.png")

              .col-sm-2.shelf
                .div{ style: 'width: 133px; height: 195px;' }
