- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.col-xs-12.col-sm-12.col-md-5.col-lg-4
  .title-separator.ciner-search
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#busca"}
      .media-body.media-bottom
        .media-heading.title-section
          Busca de Profissionais
      .media-body.text-right.media-middle.see-more
        = link_to url_for([role, :curriculums]) do
          = t('see_more')

  = simple_form_for :filter, url: url_for([role, :curriculums]), method: :get do |f|
    .form-group
      = f.input :set_function_id, label: false, collection: SetFunction.all, input_html: { class: 'select2 form-field' }, include_blank: 'Tipo do Profissional'

    .form-group
      = f.input :age, label: false, collection: (1..99), input_html: { class: 'select2 form-field' }, include_blank: 'Idade'

    .form-group
      = f.input :gender, label: false, collection: User.localized_genders, input_html: { class: 'select2 form-field' }, include_blank: 'Sexo'

    .row
      .col-xs-5.form-group
        = f.input :state_id, label: false, collection: State.all, input_html: { class: 'select2 form-field' }, include_blank: 'Estado'
      .col-xs-7.form-group
        = f.input :city_id, label: false, collection: City.all, input_html: { class: 'select2 form-field' }, include_blank: 'Cidade'

    .row
      .col-xs-6.form-group
        = f.input :ethnicity, label: false, collection: [["Branca", :white], ["Preta", :afrodescendant], ["Parda", :brown], ["Amarela", :yellow], ["Indígena", :indigenous]], input_html: { class: 'select2 form-field' }, include_blank: 'Raça'

      .col-xs-6.form-group
        %select#altura.form-control{:name => "altura"}
          %option{:disabled => "disabled", :selected => "selected"} Altura
          %option{:value => ""} 1,60
          %option{:value => ""} 1,70
    .row
      .col-xs-4.form-group
        = f.input :drt, label: false, collection: [["Sim", true], ["Não", false]], input_html: { class: 'select2 form-field' }, include_blank: 'DRT'
      .col-xs-8.form-group
        = f.input :mannequin, label: false, collection: (1..70), input_html: { class: 'select2 form-field' }, include_blank: 'Manequim'
    .form-group
      %button.btn.btn-login{:type => "submit"}
        buscar
        %svg.icon-botao
          %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
