- role = current_role(current_user, request.url)

.col-xs-12.col-sm-12.col-md-5.col-lg-4
  .title-separator.ciner-search
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#busca"}
      .media-body.media-bottom
        .media-heading.title-section
          Busca de Profissionais
      .media-body.text-right.media-middle.see-more
        = link_to url_for([role, :curriculums]) do
          = t('see_more')

  = simple_form_for :filter, url: url_for([role, :curriculums]), method: :get do |f|
    .form-group
      = f.input :curriculum_function_id, label: false, collection: CurriculumFunction.all, input_html: { class: 'select2 form-field' }, include_blank: 'Profissão'


    .form-group
      = f.input :age, label: false, collection: [["18 a 25", :"18-25"], ["26 a 35", :"26-35"], ["36 a 45", :"36-45"], ["46 a 55", :"46-55"], ["56 a 65", :"56-65"]], input_html: { class: 'select2 form-field' }, include_blank: 'Idade'

    .form-group
      = f.input :gender, label: false, collection: User.localized_genders, input_html: { class: 'select2 form-field' }, include_blank: 'Sexo'

    .row
      .col-xs-5.form-group
        = f.input :state_id, label: false, collection: State.all, input_html: { class: 'select2 form-field' }, include_blank: 'Estado'
      .col-xs-7.form-group
        = f.input :city_id, label: false, collection: City.all, input_html: { class: 'select2 form-field' }, include_blank: 'Cidade'

    .row
      .col-xs-6.form-group
        = f.input :ethnicity, label: false, collection: [["Amarela", :yellow], ["Branca", :white], ["Indígena", :indigenous], ["Parda", :brown], ["Preta", :afrodescendant]], input_html: { class: 'select2 form-field' }, include_blank: 'Raça'


      .col-xs-6.form-group
        = f.input :height, label: false, collection: [["Abaixo de 1m", 1], ["1,01m a 1,20m", 2], ["1,21m a 1,40m", 3], ["1,41m a 1,60m", 4], ["1,61m a 1,80m", 5], ["1,81m a 2m", 6], ["Acima de 2m", 7]], input_html: { class: 'select2 form-field' }, include_blank: 'Altura'
    .row
      .col-xs-4.form-group
        = f.input :drt, label: false, collection: [["Sim", true], ["Não", false]], input_html: { class: 'select2 form-field' }, include_blank: 'DRT'
      .col-xs-8.form-group
        = f.input :mannequin, label: false, collection: [34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56], input_html: { class: 'select2 form-field' }, include_blank: 'Manequim'
    .form-group
      %button.btn.btn-login{:type => "submit"}
        buscar
        %svg.icon-botao
          %use{"xlink:href" => "#ico-botao", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
