.row
  .col-xs-offset-2.col-xs-8
    %h1.wine
      Entrar

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.input :email, label: false, required: false, autofocus: true, input_html: { class: 'form-control' }, placeholder: 'e-mail'
      .form-group
        = f.input :password, label: false, required: false, input_html: { class: 'form-control', placeholder: 'senha' }
      .form-group
        .row
          .col-xs-8
            %button.btn.btn-login{:type => "submit"}
              Entrar
              %span.icon.icon-button
            %span.wine
              ou
              = link_to new_user_registration_path do
                %strong Seja Ciner
              ou 
              = link_to user_facebook_omniauth_authorize_path do
                %strong
                  Entre com Facebook
          .col-xs-4.pull-right{ style: 'text-align: right' }
            %span.wine
              = link_to new_password_path('user') do
                %strong Esqueci minha senha
