.row
  .col-xs-offset-2.col-xs-8
    %h1.wine
      Login

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.input :email, label: false, required: false, autofocus: true, input_html: { class: 'form-control' }, placeholder: 'e-mail'
      .form-group
        = f.input :password, label: false, required: false, input_html: { class: 'form-control', placeholder: 'senha' }
      .form-group
        .hidden
          = f.button :submit, 'Entrar'
        %button.btn.btn-login{:type => "submit"}
          Entrar
          %span.icon.icon-button
        %span.wine
          ou
          = link_to new_user_registration_path do
            %strong seja ciner
