%p
  Seja bem-vindo,
  = user.name
  \!

%p
  = link_to "Usuários", admin_users_path

%p
  = link_to "Funções no Set", admin_set_functions_path

%p
  = link_to "Estúdios", admin_studios_path

%p
  = link_to "Profissionais", admin_professionals_path

%p
  = link_to "Classificações Indicativas", admin_age_ranges_path

%p
  = link_to "Categorias de Produções Cinematográficas", admin_film_production_categories_path

%p
  = link_to "Produções Cinematográficas", admin_film_productions_path
