%p
  Seja bem-vindo,
  = user.name
  \!

%p
  = link_to "Administre aqui os Usuários", admin_users_path

%p
  = link_to "Administre aqui as Funções no Set", admin_set_functions_path

%p
  = link_to "Administre aqui os Estúdios", admin_studios_path

%p
  = link_to "Administre aqui os Profissionais", admin_professionals_path

%p
  = link_to "Administre aqui as Classificações Indicativas", admin_age_ranges_path

%p
  = link_to "Administre aqui as Categorias de Produções Cinematográficas", admin_film_production_categories_path
