%p
  Seja bem-vindo,
  = user.name
  \!

%p
  = link_to User.model_name.human(count: 2), admin_users_path

%p
  = link_to SetFunction.model_name.human(count: 2), admin_set_functions_path

%p
  = link_to Studio.model_name.human(count: 2), admin_studios_path

%p
  = link_to Professional.model_name.human(count: 2), admin_professionals_path

%p
  = link_to AgeRange.model_name.human(count: 2), admin_age_ranges_path

%p
  = link_to FilmProductionCategory.model_name.human(count: 2), admin_film_production_categories_path

%p
  = link_to Movie.model_name.human(count: 2), admin_movies_path

%p
  = link_to Serie.model_name.human(count: 2), admin_series_index_path

%p
  = link_to CinerVideo.model_name.human(count: 2), admin_ciner_videos_path

%p
  = link_to Critic.model_name.human(count: 2), admin_critics_path

%p
  = link_to CinerNew.model_name.human(count: 2), admin_ciner_news_index_path
