- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: AgeRange.model_name.human(count: 2), path: new_admin_age_range_path

%table
  %thead
    %tr
      %th
        = AgeRange.human_attribute_name(:name)
      %th
        = AgeRange.human_attribute_name(:age)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - age_ranges.each do |age_range|
      %tr
        %td
          = link_to admin_age_range_path(age_range) do
            = age_range.name

        %td
          = age_range.age

        %td
          = link_to edit_admin_age_range_path(age_range) do
            %i.fa.fa-pencil
        %td
          = link_to admin_age_range_path(age_range), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: age_ranges
