.discussion-item
  .title{ class: question_class(question) }
    = link_to url_for([role, question]), data: { tipsy: '' }, title: question.title do
      = question.title
    %span.author
      = question.created_at_str

  .hidden-xs.views
    %span.comments
      %span.vermelho
        = question.comments_count_str
      comentários
    %span.views
      %span.vermelho
        = question.visits_count_str
      visualizações

  .hidden-xs.last-comment
    - if question.last_comment
      - object = question.last_comment
      .thumb-user
        %figure
          %img.img-responsive{ src: object.user.avatar }
      .last-user
        %span.vermelho
          Último comentário
        = link_to object.user do
          = "#{object.user_name.split(' ').first}"
        = ", #{object.date_str}"
