.discussion-item
  .title{ class: question_class(question) }
    = link_to url_for([role, question]), data: { tipsy: '' }, title: question.title do
      = question.title
    %span.author
      Criado por
      = question.user.name.split(' ').first
      em
      = question.date_str


  .hidden-xs.views
    %span.comments
      %span.vermelho
        = question.comments_count_str
      comentários
    %span.views
      %span.vermelho
        = question.visits_count_str
      visualizações

  .hidden-xs.last-comment
    - if question.last_comment
      - object = question.last_comment
      = link_to url_for([role, object.user]) do
        .thumb-user
          %figure
            %img.img-responsive{ src: object.user.avatar }
      .last-user
        %span.vermelho
          Último comentário
        = link_to url_for([role, object.user]) do
          = object.user_name.split(' ').first
        em
        = object.date_str
