.discussion-item
  .title
    = link_to url_for([role, question]) do
      = question.title
    %span.author
      = question.created_at_str
  .hidden-xs.views
    .div
      %span.comments
        %span.vermelho= question.comments_count
        comentários
    .div
      %span.views
        %span.vermelho= question.visits_count_str
        visualizações
  .hidden-xs.last-comment
    - if question.last_comment
      - object = question.last_comment
    - else
      - object = question

    %span.vermelho última atividade
    .row
      .col-xs-2
        .thumb-user
          %figure
            %img.img-responsive{ src: object.user.avatar }
      .col-xs-10
        .last-user
          = object.user_name
          há
          = question.last_updated_time(object)
          horas
