.discussion-item
  .title{ class: question_class(question) }
    = link_to url_for([role, question]), data: { tipsy: '' }, title: question.title do
      = question.title
    %span.author
      - link = link_to question.user.nickname, url_for([role, question.user]), style: 'background-color: transparent; box-sizing: border-box; color: rgb(166, 30, 87); font-family: "Montserrat"; font-size: 14px; font-weight: 200; line-height: 20px; text-decoration: none; text-decoration-color: rgb(166, 30, 87); text-decoration-line: none; text-decoration-style: solid; width: auto; margin-bottom: -6px;'
      = "Criado por"
      = link
      = "em #{question.date_str}"

  .hidden-xs.views
    %span.comments
      %span.vermelho
        = question.comments_count_str
      comentários
    %span.views
      %span.vermelho
        = question.visits_count_str
      visualizações

  .hidden-xs.last-comment
    - if question.last_comment
      - object = question.last_comment
      = link_to url_for([role, object.user]) do
        - avatar = image_default_path(object.user.avatar.mini, "user")
        .thumb-user
          %figure
            / %img.img-responsive{ src: avatar }
            = image_tag(avatar, class: "img-responsive")
      .last-user
        %span.vermelho
          Último comentário
        = link_to url_for([role, object.user]) do
          = object.user_nickname
        em
        = object.date_str
    - else
      - object = question
      = link_to url_for([role, object.user]) do
        - avatar = image_default_path(object.user.avatar.mini, "user")
        .thumb-user
          %figure
            / %img.img-responsive{ src: avatar }
            = image_tag(avatar, class: "img-responsive")
      .last-user
        %span.vermelho
          Criado por
        = link_to url_for([role, object.user]) do
          = object.user_nickname
        em
        = object.date_str
