.container
  .row
    .col-xs-12
      .title-separator
        .media
          .media-left.media-middle
            .icon-title
              %img.img-responsive{ src: image_path("icons/ico_broadcasts.png") }
          .media-body.media-bottom
            .media-heading.title-section Notícias
      %form{:class => "form-news", :action => "#", :method => "POST"}
        .form-group.col-xs-12.col-sm-3
          Palavra-Chave
          %input.form-control{:name => "palavra-chave", :placeholder => "Ex. Os Vingadores", :type => "text"}/
        .form-group.col-xs-12.col-sm-2
          Buscar por
          %select#ordenar-por.form-control{:name => "ordenar-por"}
            %option{:selected => "selected"} Filmes
            %option{:value => ""} option
            %option{:value => ""} option
            %option{:value => ""} option
        .form-group.col-xs-12.col-sm-2
          Ano
          %select#ordenar-por.form-control{:name => "ordenar-por"}
            %option{:selected => "selected"} 2016
            %option{:value => ""} option
            %option{:value => ""} option
            %option{:value => ""} option


.container.noticias-destaques
  .row
    .col-xs-12
      .title-separator
        .media
          .media-body.media-bottom
            .media-heading.title-section Notícias em destaque
      .row
        - broadcasts.first(2).each do |object|
          - cover = object.cover.url
          - cover ||= image_path("default/movie/image.png")

          .col-xs-3{ id: object.id }
            %img.img-responsive{ src: cover, style: 'height: 300px; width: 200px;' }
          .col-xs-3
            %h3.bold
              = object.title
            .wine
              = object.spoiler_str
            .desc
              = object.content.html_safe
            .autor
              %span.bold.wine
                = object.date_str
.container.noticias
  .row
    .col-xs-12
      - broadcasts.each_with_index do |object, index|
        - if index > 1
          - cover = object.cover.url
          - cover ||= image_path("default/movie/image.png")

          .noticia-item
            .row
              .col-xs-3{ id: object.id }
                %img.img-responsive{ src: cover, style: 'height: 300px; width: 200px;' }
              .col-xs-9
                %h3.bold
                  = object.title
                .wine
                  = object.spoiler_str
                = object.content.html_safe
                .autor
                  %span.bold.wine
                    = object.date_str

= render 'shared/pagination', resources: broadcasts
