- role = current_role(current_user, request.url)

.row
  .col-xs-12
    %h3.wine
      = "Resultados de busca para \"#{params[:search]}\""

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#filme"}
        .media-body.media-bottom
          .media-heading.title-section
            Filmes
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :movies, :query], params: { search: params[:search] }) do
            = t('see_more')

- if movies.any?
  - movies.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "movie")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#filme"}
        .media-body.media-bottom
          .media-heading.title-section
            Séries
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :series, :query], params: { search: params[:search] }) do
            = t('see_more')

- if series.any?
  - series.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "movie")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#perfil"}
        .media-body.media-bottom
          .media-heading.title-section
            Celebridades
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :professionals, :query], params: { search: params[:search] }) do
            = t('see_more')

- if professionals.any?
  - professionals.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "professional")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#perfil"}
        .media-body.media-bottom
          .media-heading.title-section
            Usuários
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :users, :query], params: { search: params[:search] }) do
            = t('see_more')

- if users.any?
  - users.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.avatar.try(:thumb), "user")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 60px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#perfil"}
        .media-body.media-bottom
          .media-heading.title-section
            Profissionais
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :curriculums, :query], params: { search: params[:search] }) do
            = t('see_more')

- if curriculums.any?
  - curriculums.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover.try(:thumb), "professional")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 60px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#critica"}
        .media-body.media-bottom
          .media-heading.title-section
            Críticas
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :critics, :query], params: { search: params[:search] }) do
            = t('see_more')

- if critics.any?
  - critics.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "movie")
        / %img.img-responsive{ src: cover, style: 'height: 90px; width: 60px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 90px; width: 60px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          .icon-title
            %img.img-responsive{ src: image_path("icons/ico_events.png"), style: 'width: 30px; height: 30px;' }

        .media-body.media-bottom
          .media-heading.title-section
            Agenda do Cinema
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :events, :query], params: { search: params[:search] }) do
            = t('see_more')

- if events.any?
  - events.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "movie")
        / %img.img-responsive{ src: cover, style: 'height: 60px; width: 90px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 60px; width: 90px;' )

      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          .icon-title{ style: 'margin-top: 10px;' }
            %img.img-responsive{ src: image_path("icons/ico_broadcasts.png"), style: 'width: 30px; height: 30px;' }

        .media-body.media-bottom
          .media-heading.title-section
            Notícias
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :broadcasts, :query], params: { search: params[:search] }) do
            = t('see_more')

- if broadcasts.any?
  - broadcasts.each do |object|
    .row
      .col-xs-1
        - cover = image_default_path(object.cover, "movie")
        / %img.img-responsive{ src: cover, style: 'height: 60px; width: 90px;' }
        = image_tag(cover, class: "img-responsive", style: 'height: 60px; width: 90px;' )

      .col-xs-11
        = link_to url_for([role, :broadcasts]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.

.row.searchbar
  .col-xs-12
    .title-separator.ciner-news
      .media
        .media-left.media-middle
          %svg.icon-title
            %use{"xlink:href" => "#debate"}
        .media-body.media-bottom
          .media-heading.title-section
            Debate Ciner
        .media-body.text-right.media-middle.see-more
          = link_to polymorphic_path([role, :questions, :query], params: { search: params[:search] }) do
            = t('see_more')

- if questions.any?
  - questions.each do |object|
    .row
      .col-xs-1.col-sm-1.icone
        %svg.icon-debate
          %use{ "xlink:href": question_icon(object) }
      .col-xs-11
        = link_to url_for([role, object]) do
          =  object.title_str
- else
  .row
    .col-xs-12
      Não há resultados para essa pesquisa nessa categoria.
