- favorites = current_user.user_favorite
- watched = current_user.user_watched

.title-separator
  .media
    .media-left.media-middle
      %svg.media-object.icon-title
        %use{"xlink:href" => "#filme"}
    .media-body.media-middle
      .media-heading.title-section Meus Favoritos
    .media-body.text-right.media-middle
      = link_to 'ver mais', url_for([role, user, :favorite_index])

.row{ style: 'margin-bottom: 20px;', data: { slider: { favorites: '' } } }
  - if favorites.any?
    = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: favorites, background_color: "#ccc"
  - else
    = render 'shared/alerts/info', message: "Você ainda não marcou nenhum filme / série como favorito, para isso, acesse um dos títulos disponíveis e clique em 'Adicionar aos favoritos'"

.title-separator
  .media
    .media-left.media-middle
      %svg.media-object.icon-title
        %use{"xlink:href" => "#filme"}
    .media-body.media-middle
      .media-heading.title-section Assistidos
    .media-body.text-right.media-middle
      = link_to 'ver mais', url_for([role, user, :watched_index])

.row{ style: 'margin-top: 20px;', data: { slider: { watched: '' } } }
  - if watched.any?
    = render 'shared/home/showcase/showcase', role: role, showcase_class: 'showcase-poster', slider_movies: watched
  - else
    = render 'shared/alerts/info', message: "Você ainda não adicionou nenhum filme / série à sua lista de assistidos, para isso, acesse um dos títulos disponíveis e clique em 'Já assisti'"
