- content_for :javascript, javascript_include_tag('views/shared/users/form')
- content_for :stylesheet, stylesheet_link_tag('views/shared/users/form')

%h3
  = t('.general')

.row
  .col-xs-6
    = f.input :name, required: true, autofocus: true
  .col-xs-3
    = f.input :gender, collection: User.localized_genders, input_html: { class: 'form-field' }
  .col-xs-3
    = f.input :role, collection: User.localized_roles, input_html: { class: 'form-field' }

.row
  .col-xs-6
    = f.input :nickname, required: true
  .col-xs-3
    = f.input :birthday, as: :string, input_html: { value: localize(f.object.birthday || Date.today), class: 'datepicker' }

.row
  .col-xs-6
    = f.input :email

%h3
  = t('.address')

.row
  .col-xs-3
    = f.input :cep
  .col-xs-9
    = f.input :address

.row
  .col-xs-6
    = f.input :neighbourhood
  .col-xs-6
    = f.input :city_id, collection: City.all

.row
  .col-xs-6
    = f.input :cpf
  .col-xs-6
    = f.input :phone

%h3
  = t('.avatar')

.row
  .col-xs-6
    = f.input :avatar, label: false

%h3
  = t('.about')

.row
  .col-xs-12
    = f.input :biography, label: false, input_html: { rows: 4 }

%h3
  = t('.password')

.row
  .col-xs-12.col-sm-6
    = f.input :password, required: true
  .col-xs-12.col-sm-6
    = f.input :password_confirmation, required: true

.row.actions
  .col-xs-12.col-sm-4
    = submit_tag t('cancel'), :class => "btn"
  .col-xs-12.col-sm-4
    = f.button :submit, t('confirm')
