- content_for :javascript, javascript_include_tag('views/shared/users/form')
- content_for :stylesheet, stylesheet_link_tag('views/shared/users/form')

- disabled = f.object.persisted?
- role_class = (current_user && current_user.admin?) ? '' : 'hidden'

%h3
  = t('.general')
%span
  Os campos sinalizados com * são de preenchimento obrigatório

- user.errors.each do |e|
  %p
    = e.to_s

.row
  .col-xs-6
    = f.input :name, required: true, autofocus: true
  .col-xs-3
    = f.input :gender, collection: User.localized_genders, input_html: { class: 'form-field' }

.row
  .col-xs-3
    = f.input :birthday, as: :string, input_html: { value: (localize(f.object.birthday) if f.object.birthday), class: 'datepicker' }


.row
  .col-xs-6
    = f.input :cpf, disabled: disabled
  .col-xs-6
    = f.input :email

%h3
  = t('.address')

.row
  .col-xs-2
    = f.input :state_id, collection: states, selected: f.object.state_id || 1
  .col-xs-4
    = f.input :city_id, collection: cities, selected: f.object.city_id || 1

.row
  .col-xs-6
    = f.input :phone
  .col-xs-6
    = f.input :mobile

- if params[:avatar].blank?
  %h3
    = t('.avatar')

  .row
    .col-xs-6
      = f.input :avatar, label: false
- else
  = f.hidden_field :avatar, value: params[:avatar]

= f.hidden_field :provider, value: f.object.provider
= f.hidden_field :uid, value: f.object.uid

%h3
  Privacidade da Coleção

.row
  .col-xs-3
    = f.input :collection_privacy, collection: User.localized_collection_privacies, input_html: { class: 'form-field' }

%h3
  = t('.about')

.row
  .col-xs-12{ data: { limited: '', limit: 350 } }
    = f.input :biography, label: false, input_html: { rows: 3 }, maxlength: 350
    %span.char-counter
      = t('remaining_chars', chars: 350)

= render 'shared/users/form_actions', f: f
