- role = current_role(current_user, request.url)

- currriculum = current_user.curriculum
- curriculum ||= nil

- avatar = user.avatar
- avatar ||= image_path("default/user/image.jpg")

.container
  .row{ style: 'margin-top: 15px;' }
    .col-xs-12.col-md-8
      .section-pessoal
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#perfil"}
            .media-body.media-middle
              .media-heading.title-section
                = t('.general')
            - if (current_user && current_user == user)
              .media-body.text-right.media-middle.see-more
                = link_to url_for([:edit, role, user]) do
                  %i.fa.fa-pencil.fa-2x{ tooltip: 'editar' }
        .row.user-profile
          .col-xs-12.col-md-4.user-avatar{ style: "width: 200px; height: 200px;" }
            %img.img-responsive{:src => avatar, style: "width: 170px; height: 170px;" }
            - unless current_user.blank?
              %div
                - if current_user == user
                  %button.btn.btn-login{ style: "width: 170px; margin-top: 10px;" }
                    %span.text
                      Minha Conta
                    %span.icon.icon-button
                - else
                  = render 'shared/users/friendship', role: role, user: user


          .col-xs-12.col-sm-8.user-info
            .row
              .col-xs-9
                Nome:
                %span.user-name
                  = user.name
                %br
                Idade:
                %span.user-age
                  = user.age
                %br
                Cidade:
                %span.user-city
                  = user.city_name
                %br
                Ciner desde:
                %span.user-birth-ciner
                  = user.registered_at_str
              .col-xs-3
                - if user.curriculum
                  = link_to url_for([role, user.curriculum]) do
                    %button.btn.btn-login{ style: "width: 170px; margin-top: 10px;" }
                      %span.text
                        Currículo
                      %span.icon.icon-button
                - else
                  - if current_user == user
                    = link_to url_for([:new, role, :curriculum]) do
                      %button.btn.btn-login{ style: "width: 170px; margin-top: 10px;" }
                        %span.text
                          Currículo
                        %span.icon.icon-button
            .row
              .col-xs-12
                %hr
                .user-bio
                  %span.user-bio
                    Biografia:
                  = user.biography

      / Favoritos e Assistidos
      = render 'shared/users/all_medias', role: role

      = render 'shared/users/user_videos', role: role

    .col-xs-12.col-sm-6.col-md-4
      .section-sinopse
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#ficha"}
            .media-body.media-middle
              .media-heading.title-section Minha sinopse
        .row.box-sinopse
          .col-xs-12.col-md-6
            Vídeos:
            %strong
              2
            %br
            Críticas:
            %strong
              = user.critics.approved.count
            %br
            Assistidos:
            %strong
              = watched_count_for_user(user)
            %br
            Quer Ver:
            %strong
              = want_to_see_count_for_user(user)
          .col-xs-12.col-sm-6
            Coleção:
            %strong
              = collection_count_for_user(user)
            %br
            Favoritos:
            %strong
              = favorite_count_for_user(user)
            %br
            Indicados:
            %strong
              = favorite_count_for_user(user)
            %br
            Amigos:
            %strong
              500

      = render 'shared/users/collection', role: role

    = render 'shared/users/critics/critics', role: role

    = render 'shared/users/friends_list', role: role
