- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

- currriculum = current_user.curriculum
- curriculum ||= nil

- avatar = user.avatar
- avatar ||= "http://placehold.it/155x170"

.container
  .row
    .col-xs-12.col-sm-8.col-md-8
      .section-pessoal
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#perfil"}
            .media-body.media-middle
              .media-heading.title-section
                = t('.general')
            - if (current_user && current_user == user) || (current_user.admin?)
              .media-body.text-right.media-middle
                = link_to path do
                  %i.fa.fa-pencil.fa-2x{ tooltip: 'editar' }
        .user-profile
          .col-xs-12.col-sm-3.user-avatar{ style: "width: 170px; height: 180px;" }
            %img.img-responsive{:src => user.avatar, style: "width: 170px; height: 180px;" }
          .col-xs-12.col-sm-9.user-info
            Nome:
            %span.user-name
              = user.name
            %br
            Idade:
            %span.user-age
              = user.age
            %br
            Cidade:
            %span.user-city
              = user.city_name
            %br
            Ciner desde:
            %span.user-birth-ciner
              = user.registered_at_str
            %hr
            .user-bio
              %span.user-bio Biografia:
              = user.biography
      .visible-xs
        .section-sinopse
          .title-separator
            .media
              .media-left.media-middle
                %svg.media-object.icon-title
                  %use{"xlink:href" => "#ficha"}
              .media-body.media-middle
                .media-heading.title-section Teste sinopse
          .box-sinopse
            Vídeos:
            %strong
              2
            %br
            Críticas:
            %strong
              = user.critics.approved.count
            %br
            Assistidos:
            %strong
              = watched_count_for_user(user)
            %br
            Quer Ver:
            %strong
              = want_to_see_count_for_user(user)
            %br
            Coleção:
            %strong
              = collection_count_for_user(user)
            %br
            Favoritos:
            %strong
              = favorite_count_for_user(user)
            %br
            Indicados:
            %strong
              = favorite_count_for_user(user)
            %br
            Amigos:
            %strong
              500
      .anchors
        %a.btn-anchor{:href => "#movies-series"} Minha Conta
        %a.btn-anchor{:href => "#videos"} Vídeos
        %a.btn-anchor{:href => "#user-review"} Críticas
        - if user.curriculum
          = link_to url_for([role, user.curriculum]) do
            .btn-anchor
              Currículo
        - else
          = link_to url_for([:new, role, :curriculum]) do
            .btn-anchor
              Currículo
        %a.btn-anchor{:href => "#friend-list"} Amigos
        %a.btn-anchor{:href => "#t1"} Atividades

      / Favoritos e Assistidos
      = render 'shared/users/all_medias', role: role

      = render 'shared/users/user_videos', role: role

    .col-xs-12.col-sm-4.col-md-4.hidden-xs
      .section-sinopse
        .title-separator
          .media
            .media-left.media-middle
              %svg.media-object.icon-title
                %use{"xlink:href" => "#ficha"}
            .media-body.media-middle
              .media-heading.title-section Minha sinopse
        .box-sinopse
          Vídeos:
          %strong
            2
          %br
          Críticas:
          %strong
            = user.critics.approved.count
          %br
          Assistidos:
          %strong
            = watched_count_for_user(user)
          %br
          Quer Ver:
          %strong
            = want_to_see_count_for_user(user)
          %br
          Coleção:
          %strong
            = collection_count_for_user(user)
          %br
          Favoritos:
          %strong
            = favorite_count_for_user(user)
          %br
          Indicados:
          %strong
            = favorite_count_for_user(user)
          %br
          Amigos:
          %strong
            500

      = render 'shared/users/collection', role: role

    = render 'shared/users/critics/critics', role: role

    = render 'shared/users/friends_list', role: role
