.container
  .row
    .col-xs-12.col-sm-8.col-md-8
      .section-pessoal
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-user.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section
                = t('.general')
            - if (current_user && current_user == user) || (current_user.admin?)
              .media-body.text-right.media-middle
                = link_to path do
                  %i.fa.fa-pencil.fa-2x{ tooltip: 'editar' }
        .user-profile
          .col-xs-12.col-sm-3.user-avatar
            %img.img-responsive{:src => user.avatar}/
          .col-xs-12.col-sm-9.user-info
            Nome:
            %span.user-name
              = user.name
            %br/
            Idade:
            %span.user-age
              = user.age
            %br/
            Cidade:
            %span.user-city
              = user.city_name
            %br/
            Ciner desde:
            %span.user-birth-ciner 05/04/2016
            %hr/
            .user-bio
              %span.user-bio Biografia:
              = user.biography
      .visible-xs
        .section-sinopse
          .title-separator
            .media
              .media-left.media-middle
                %i.fa.fa-clipboard.fa-2x.wine
              .media-body.media-middle
                .media-heading.title-section Sinopses
          .box-sinopse
            Vídeos:
            %strong 2
            %br/
            Críticas:
            %strong 3
            %br/
            Coleção:
            %strong 300
            %br/
            Assistidos:
            %strong 1.000
            %br/
            Amigos:
            %strong 500
      .anchors
        %a.btn-anchor{:href => "#movies-series"} Filmes e Séries
        %a.btn-anchor{:href => "#videos"} Vídeos
        %a.btn-anchor{:href => "#user-review"} Críticas
        %a.btn-anchor{:href => "#t1"} Currículo
        %a.btn-anchor{:href => "#friend-list"} Amigos
        %a.btn-anchor{:href => "#t1"} Atividades
      #movies-series.user-movies-series
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-film.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section Filmes e Séries
            .media-body.text-right.media-middle
              %a{:href => "#"} ver todos
        .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
          .thumb
            %a{:href => "#"}
              %span.rollover
              = image_tag("example_movie.jpg", class: "img-responsive")
        .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
          .thumb
            %a{:href => "#"}
              %span.rollover
              = image_tag("example_movie.jpg", class: "img-responsive")
        .hidden-xs
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
            .thumb
              %a{:href => "#"}
                %span.rollover
                = image_tag("example_movie.jpg", class: "img-responsive")
          .hidden-sm
            .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
              .thumb
                %a{:href => "#"}
                  %span.rollover
                  = image_tag("example_movie.jpg", class: "img-responsive")
            .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
              .thumb
                %a{:href => "#"}
                  %span.rollover
                  = image_tag("example_movie.jpg", class: "img-responsive")
            .user-movies-series-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
              .thumb
                %a{:href => "#"}
                  %span.rollover
                  = image_tag("example_movie.jpg", class: "img-responsive")
      #videos.user-videos
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-video-camera.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section Vídeos
            .media-body.text-right.media-middle
              %a{:href => "#"} ver todos
        .ciner-movie.col-xs-12.col-sm-6.col-md-4
          .thumb
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
        .hidden-xs
          .ciner-movie.col-xs-12.col-sm-6.col-md-4
            .thumb
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
          .hidden-sm
            .ciner-movie.col-xs-12.col-sm-6.col-md-4
              .thumb
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220px", :src => "https://www.youtube.com/embed/eX_iASz1Si8?rel=0", :width => "100%"}
    .col-xs-12.col-sm-4.col-md-4.hidden-xs
      .section-sinopse
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-clipboard.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section Sinopse
        .box-sinopse
          Vídeos:
          %strong 2
          %br/
          Críticas:
          %strong 3
          %br/
          Coleção:
          %strong 300
          %br/
          Assistidos:
          %strong 1.000
          %br/
          Amigos:
          %strong 500
      .section-collection
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-film.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section Coleção
            .media-body.text-right.media-middle
              %a{:href => "#"} ver todos
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
    .col-xs-12.col-sm-6.user-review#user-review
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-pencil.fa-2x.wine
          .media-body.media-middle
            .media-heading.title-section Críticas
          .media-body.text-right.media-middle
            %a{:href => "#"} ver todos
      .review-item
        .col-xs-12.col-sm-5.thumb
          %figure
            %img.img-responsive{:src => "http://placehold.it/400x500"}/
        .col-xs-12.col-sm-7.resume
          .category
            Categoria:
            %span.category-type Suspense
          %h4.title Batman vs Superman
          %span.subtitle A origem da justiça
          %span.original-title (Batman Vs Superman: Dawn of Justice)
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          %a.btn.btn-saiba-mais{:href => "#"} ler a crítica
      .review-item.hidden-sm.hidden-xs
        .col-xs-12.col-sm-5.thumb
          %figure
            %img.img-responsive{:src => "http://placehold.it/400x500"}/
        .col-xs-12.col-sm-7.resume
          .category
            Categoria:
            %span.category-type Suspense
          %h4.title Batman vs Superman
          %span.subtitle A origem da justiça
          %span.original-title (Batman Vs Superman: Dawn of Justice)
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          %a.btn.btn-saiba-mais{:href => "#"} ler a crítica
    .col-xs-12.col-sm-6.friend-list#friend-list
      .title-separator
        .media
          .media-left.media-middle
            %i.fa.fa-users.fa-2x.wine
          .media-body.media-middle
            .media-heading.title-section Amigos
          .media-body.text-right.media-middle
            %a{:href => "#"} ver todos
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
      .col-xs-6.col-sm-6.col-md-4.no-padding.friend-info
        .media
          .media-left.media-middle
            = image_tag("users/user3.jpg", class: "media-object")
          .media-body.media-bottom
            .friend-name{:style => "font-size: 13px; line-height: 13px; color: #524b4b; font-weight: bold;"} Mr. Bean
            %a{:href => "#", :style => "display: inline-block; font-size: 11px; font-weight: lighter; border: 1px solid; border-radius: 3px; padding: 5px; margin-top: 10px; text-decoration: none;"} ver mais...
    .col-xs-12.visible-xs.hidden-sm
      .section-collection
        .title-separator
          .media
            .media-left.media-middle
              %i.fa.fa-film.fa-2x.wine
            .media-body.media-middle
              .media-heading.title-section Coleção
            .media-body.text-right.media-middle
              %a{:href => "#"} ver todos
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
        .col-md-3.col-sm-6.col-xs-6.shelf
          = image_tag("example_movie_3.jpg", class: "img-responsive")
