%h3
  = t('.general')

.row
  .col-xs-12
    = f.input :name, required: true, autofocus: true
.row
  .col-xs-3
    = f.input :creation, as: :string, input_html: { value: (localize(f.object.creation) if f.object.creation), class: 'datepicker' }
  .col-xs-3
    = f.input :country_id, collection: countries

= render 'shared/form_actions', f: f
