= simple_form_for [:platform, film_production_category] do |f|
  %h3
    = t('.general')

  .row
    .col-xs-6
      = f.input :name, required: true, autofocus: true
  .row
    .col-xs-6
      = f.input :description

  = render 'shared/form_actions', f: f
