- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

%h3
  = FilmProductionCategory.model_name.human(count: 2)

.row.pull-right
  .col-xs-6
    = link_to new_admin_film_production_category_path do
      %i.fa.fa-plus= "Novo"

%table
  %thead
    %tr
      %th
        = FilmProductionCategory.human_attribute_name(:name)
      %th
        = FilmProductionCategory.human_attribute_name(:description)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - film_production_categories.each do |film_production_category|
      %tr
        %td
          = link_to admin_film_production_category_path(film_production_category) do
            = film_production_category.name

        %td
          = film_production_category.description

        %td
          = link_to edit_admin_film_production_category_path(film_production_category) do
            %i.fa.fa-pencil
        %td
          = link_to admin_film_production_category_path(film_production_category), method: 'delete' do
            %i.fa.fa-trash

= paginate film_production_categories
