.nested-fields
  .row
    .col-xs-10.formatted-error-field
      - filmable_type = f.object.broadcastable_type || Movie
      - filmable_type = filmable_type.to_s
      - filmable_movies_class = (filmable_type == 'Movie') ? '' : 'hidden'
      - filmable_series_class = (filmable_type == 'Serie') ? '' : 'hidden'
      .row{ data: { filmable: '' } }
        .col-xs-4{ data: { filmable_select: '' } }
          = f.input :broadcastable_type, collection: FilmProfitable.localized_filmable_types, selected: filmable_type
        .col-xs-8
          .div{ class: "#{filmable_movies_class}", data: { filmable_type: 'Movie' } }
            = f.input :broadcastable_id, collection: [], input_html: { data: { remote_select: '', ajax_url: api_v1_movies_path } }, label_method: :text, value_method: :id
          .div{ class: "#{filmable_series_class}", data: { filmable_type: 'Serie' } }
            = f.input :broadcastable_id, collection: [], input_html: { data: { remote_select: '', ajax_url: api_v1_series_index_path } }, label_method: :text, value_method: :id

    .col-xs-2
      = link_to_remove_association '', f, class: 'fa fa-trash-o delete-icon', title: t('remove'), data: { confirm: t('confirm_destroy') }
