- role = current_role(current_user, request.url)

.row.notification-box
  .col-xs-1
    = link_to url_for([role, delate.user]), target: "_blank" do
      - cover = image_default_path(delate.user_cover, "user")
      %img.img-responsive{ src: cover, style: 'width: 65px; height: 65px;' }
  .col-xs-2
    = link_to url_for([role, delate.user]), target: "_blank" do
      = delate.user_nickname
  .col-xs-3
    = link_to 'página denunciada', delate.location, target: "_blank"
  .col-xs-3
    = delate.created_at_str
  - unless ids.include? delate.id
    .col-xs-offset-2.col-xs-1.pull-right{ data: { delate_checked: '', user_id: delate.user_id, url: notifications_path, delate_id: delate.id, delate_url: url_for([delate]) } }
      %i.fa.fa-thumbs-up.delatable.clickable
