- if current_user
  - if current_user.admin?
    .post-item
      .content
        = link_to admin_broadcasts_path(anchor: "#{broadcast.id}") do
          %h4
            = broadcast.collapsed_title
        .highlight
          - if broadcast.featured?
            .button
              Destaque
  - else
    .post-item
      .content
        = link_to platform_broadcasts_path(anchor: "#{broadcast.id}") do
          %h4
            = broadcast.collapsed_title
        .highlight
          - if broadcast.featured?
            .button
              Destaque
- else
  .post-item
    .content
      = link_to broadcasts_path(anchor: "#{broadcast.id}") do
        %h4
          = broadcast.collapsed_title
      .highlight
        - if broadcast.featured?
          .button
            Destaque
