- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.container
  = render 'shared/broadcasts/toolbar'

.container.noticias-destaques
  .row
    .col-xs-12
      .title-separator
      .row
        - broadcasts.first(2).each do |object|
          - if role
            - like_path = url_for([:like, role, object])
            - dislike_path = url_for([:dislike, role, object])
          - else
            - like_path = nil
            - dislike_path = nil
          - cover = object.cover.url
          - cover ||= image_path("default/movie/image.png")

          .col-xs-6
            .row
              .col-xs-4{ id: object.id, style: 'padding-right: 0px;' }
                %img.img-responsive{ src: cover, style: 'height: 300px; width: 200px;' }
              .col-xs-8
                .row
                  .col-xs-12{ style: 'height: 275px;' }
                    %h3.bold{ style: 'box-sizing: border-box; color: rgb(51, 51, 51); font-family: "Montserrat"; font-size: 20px; font-weight: 700; line-height: 26.4px; margin-bottom: 0px; margin-top: 0px; min-height: 25px; max-height: 50px' }
                      = object.title
                    .wine{ style: 'height: 20px; margin-bottom: 10px;' }
                      = object.spoiler_str
                    .desc{ style: 'min-height: 200px; overflow: hidden; font-size: 13px; ' }
                      = object.content.html_safe

                      - unless object.video.blank?
                        %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'video') }, style: 'cursor: pointer;' }
                          \.
                          Assista ao vídeo
                      - if object.broadcast_images.any?
                        %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'gallery') }, style: 'cursor: pointer;' }
                          \.
                          Veja a galeria
                      - unless object.more.blank?
                        %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'info') }, style: 'cursor: pointer;' }
                          \.
                          Informações completas aqui

            .row{ style: 'margin-top: -30px; ' }
              .col-xs-4
              .col-xs-8
                .pull-left{ style: 'padding-left: 0px;'}
                  .source.bold{ style: 'height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 12px;' }
                    Fonte:
                    = object.source
                .pull-right
                  %span.bold.wine{ style: 'float: right; font-size: 12px;' }
                    = link_to object.date_str, polymorphic_path([role, :broadcasts], filter: { date: object.date_str })
            .row
              .col-xs-4
              .col-xs-8
                .row
                  .col-xs-4
                    .row
                      .broadcast-reaction
                        = render 'shared/reactions', resource: object, like_path: like_path, dislike_path: dislike_path
                  .col-xs-4
                    .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "small"}
                      %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse", :target => "_blank"} Compartilhar
                  .col-xs-4
                    %button.btn.btn-login{:type => "submit"}
                      Debater
                      %span.icon.icon-button


.container.noticias
  .row
    .col-xs-12
      - broadcasts.each_with_index do |object, index|
        - if index > 1
          - if role
            - like_path = url_for([:like, role, object])
            - dislike_path = url_for([:dislike, role, object])
          - else
            - like_path = nil
            - dislike_path = nil
          - cover = object.cover.url
          - cover ||= image_path("default/movie/image.png")

          .noticia-item
            .row
              .col-xs-3{ id: object.id }
                %img.img-responsive{ src: cover, style: 'height: 171px; width: 261px;' }
              .col-xs-9
                %h3.bold{ style: 'box-sizing: border-box; color: rgb(51, 51, 51); font-family: "Montserrat"; font-size: 20px; font-weight: 700; line-height: 26.4px; margin-bottom: 0px; margin-top: 0px; height: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;' }
                  = object.title
                .wine{ style: 'height: 20px;' }
                  = object.spoiler_str
                .desc{ style: 'height: 113px; overflow: hidden; font-size: 13px;' }
                  = object.content.html_safe

                  - unless object.video.blank?
                    %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'video') }, style: 'cursor: pointer;' }
                      \.
                      Assista ao vídeo
                  - if object.broadcast_images.any?
                    %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'gallery') }, style: 'cursor: pointer;' }
                      \.
                      Veja a galeria
                  - unless object.more.blank?
                    %span.more.wine{ data: { show: '', url: polymorphic_path([object], view: 'info') }, style: 'cursor: pointer;' }
                      \.
                      Informações completas aqui

                .row{ style: 'font-size: 12px;' }
                  .col-xs-6
                    .source.bold{ style: 'height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;' }
                      Fonte:
                      = object.source
                  .col-xs-6
                    %span.bold.wine{ style: 'float: right' }
                      = object.date_str
                .row
                  .col-xs-4
                    .row{ style: 'height: 25px;' }
                      .broadcast-reaction
                        = render 'shared/reactions', resource: object, like_path: like_path, dislike_path: dislike_path
                  .col-xs-4
                    .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "small"}
                      %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse", :target => "_blank"} Compartilhar
                  .col-xs-4
                    %button.btn.btn-login{:type => "submit"}
                      Debater
                      %span.icon.icon-button

  = render 'shared/pagination', resources: broadcasts

#broadcastModal.modal.fade{:role => "dialog"}
  .modal-dialog
