- like_path ||= nil
- dislike_path ||= nil
- object = broadcast
- role = current_role(current_user, request.url)
- question = Question.where(questionable: object).first

.container.content
  .row
    .col-xs-12
      .row
        .col-xs-12.titulo{ style: 'margin-top: 5px; word-break: break-all;' }
          %h4
            = object.title

      %hr

      .row
        .col-xs-12
          .content
            .bold.wine
              = object.spoiler_str

            %br

            %p
              = object.content.gsub(/\n/, '<br/>').html_safe

          .info
            = object.created_at_str

  #broadcast-reaction
    = render 'shared/reactions', resource: broadcast, like_path: like_path, dislike_path: dislike_path, question: question, role: role

= render 'shared/comments/index', object: broadcast
