- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

%h3
  = User.model_name.human(count: 2)

%table
  %thead
    %tr
      %th
        Nome
      %th
        Idade
      %th
        Cidade
      %th
        Estado
      %th
        Gênero
      %th{ colspan: 2 }
  %tbody
    - users.each do |user|
      %tr
        %td
          = link_to admin_user_path(user) do
            = user.name
        %td
          = user.age
        %td
          = user.city_name
        %td
          = user.state_name
        %td
          = user.gender

        %td
          = link_to edit_admin_user_path(user) do
            %i.fa.fa-pencil
        %td
          = link_to admin_user_path(user), method: 'delete' do
            %i.fa.fa-trash
