- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

%h3
  = User.model_name.human(count: 2)

%table
  %thead
    %tr
      %th
        = User.human_attribute_name(:name)
      %th
        = User.human_attribute_name(:age)
      %th
        = User.human_attribute_name(:city)
      %th
        = User.human_attribute_name(:state)
      %th
        = User.human_attribute_name(:gender)
      %th
        = User.human_attribute_name(:role)
      %th
        = User.human_attribute_name(:registered_at)

      / Actions
      %th{ colspan: 2 }
  %tbody
    - users.each do |user|
      %tr
        %td
          = link_to admin_user_path(user) do
            = user.name
        %td
          = user.age
        %td
          = user.city_name
        %td
          = user.city.state_name if user.city
        %td
          = user.gender_str
        %td
          = user.role_str
        %td
          = user.registered_at_str

        / Actions
        %td
          = link_to edit_admin_user_path(user) do
            %i.fa.fa-pencil
        %td
          = link_to admin_user_path(user), method: 'delete' do
            %i.fa.fa-trash
