- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

= render 'shared/breadcrumbs'

= render 'shared/index_title', title: FilmProductionCategory.model_name.human(count: 2), path: new_admin_film_production_category_path

%table
  %thead
    %tr
      %th
        = FilmProductionCategory.human_attribute_name(:name)
      %th
        = FilmProductionCategory.human_attribute_name(:description)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - film_production_categories.each do |film_production_category|
      %tr
        %td
          = link_to admin_film_production_category_path(film_production_category) do
            = film_production_category.name

        %td
          = film_production_category.description

        %td
          = link_to edit_admin_film_production_category_path(film_production_category) do
            %i.fa.fa-pencil
        %td
          = link_to admin_film_production_category_path(film_production_category), method: 'delete' do
            %i.fa.fa-trash

= render 'shared/pagination', resources: film_production_categories
