- role = role
- see_more_url ||= url_for([role, :movies, :playing])
- title ||= "Em Cartaz"
- icon ||= "#filme"

/ SECTION POSTER
.section-poster
  .ciner-poster.title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{"xlink:href" => "#{icon}"}/
      .media-body.media-bottom
        .media-heading.title-section
          = title
      .media-body.text-right.media-middle.see-more.see-more
        = link_to see_more_url do
          = t('see_more')

  - if role.blank?
    - style = 'margin-right: 0px; margin-left: 0px;'
  - else
    - style = ''

  .row{ style: style }
    = render 'shared/home/showcase/showcase', role: role, slider_movies: slider_movies
