- content_for :javascript, javascript_include_tag('components/filters')
- content_for :stylesheet, stylesheet_link_tag('components/filters')

= hidden_field_tag :filtered, ((params[:search] && !params[:search].blank?) || (params[:filter] && !params[:filter].blank?))

#filters.filters{ data: { dynamic_filter: '' } }
  = simple_form_for :filter, url: request.url, method: :get, data: { filter_form: '' } do |f|
    = hidden_field_tag :search, params[:search]
    .row
      .col-xs-4
        = f.input :area, label: false, collection: [["Filmes", :movies], ["Séries", :series], ["Geral", :general]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Tópico', selected: params.fetch(:filter, {}).fetch(:area, '')
      .col-xs-4
        = f.input :like_count, label: false, collection: [["Mais curtidas", :more_like], ["Mais comentadas", :more_comment]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Classificar por', selected: params.fetch(:filter, {}).fetch(:like_count, '')
      .col-xs-4
        = f.input :time, label: false, collection: [["Mais recente", :recent], ["Mais antigas", :oldest]], input_html: { class: 'select2 form-field', data: { dynamic_input: '' } }, include_blank: 'Data de publicação', selected: params.fetch(:filter, {}).fetch(:time, '')

