= render 'shared/questions/toolbar', path: platform_questions_path

.container.debates
  .row.cabecalho{ style: 'margin-right: 15px' }
    .col-xs-2.col-sm-1
      %h4.wine
        Tema
    .col-xs-8.col-sm-5
      %h4.wine
        = t('shared.questions.header.topic')
    .col-sm-2.hidden-xs
      %h4.wine
        = t('shared.questions.header.activity')
    .col-sm-2.hidden-xs
      %h4.wine
        = t('shared.questions.header.comments')

  - if questions.any?
    - questions.each do |question|
      = render 'shared/questions/question', question: question

    = paginate questions
  - else
    = render 'shared/alerts/info', message: (t('empty', klass: Question.model_name.human(count: 2)))
