- role = current_role(current_user, request.url)

.row.discussion-item{ class: question_class(question), style: 'margin-right: 15px;' }
  .col-sm-1.icone
    %svg.icon-debate
      %use{ "xlink:href": question_icon(question) }
  .col-sm-5.titulo
    = link_to url_for([role, question]) do
      %h4
        = question.title
    = question_created_at_str(question)
  .col-sm-2.hidden-xs.comentario
    %span
      = question.comments_count
    comentários
    %br
    %span
      = question.visits_count_str
    visualizações

  .col-sm-3.hidden-xs.last-comment
    - if question.last_comment
      - object = question.last_comment
      = link_to url_for([role, object.user]) do
        .thumb-user
          %figure
            %img.img-responsive{ src: object.user.avatar }
      .last-user
        %span.vermelho
          Último comentário
        = link_to url_for([role, object.user]) do
          = object.user_nickname.split(' ').first
        em
        = object.date_str
    - else
      - object = question
      = link_to url_for([role, object.user]) do
        .thumb-user
          %figure
            %img.img-responsive{ src: object.user.avatar }
      .last-user
        %span.vermelho
          Criado por
        = link_to url_for([role, object.user]) do
          = object.user_nickname.split(' ').first
        em
        = object.date_str
  - if current_user && (question.user == current_user || current_user.admin?)
    .col-xs-1{ style: 'text-align: right' }
      = link_to edit_platform_question_path(question) do
        %i.fa.fa-pencil
      = link_to platform_question_path(question), method: 'delete' do
        %i.fa.fa-trash
