- questionable = question.questionable
- like_path ||= nil
- dislike_path ||= nil
- avatar = image_default_path(question.user.avatar.try(:thumb), "user")
- role = current_role(current_user, request.url)

.container.content
  .debates.row
    .col-xs-12
      .row{ class: question_class(question) }
        .col-xs-1
          .icone{ style: 'margin-top: 10px;' }
            %svg.icon-debate
              %use{ "xlink:href": question_icon(question) }
        .col-xs-11.titulo{ style: 'margin-top: 5px; word-break: break-all;' }
          %h4
            = question.title

      %hr

      .row{ style: 'margin-top: 10px' }
        .col-xs-2.col-sm-1
          .usuario-avatar
            = image_tag(avatar, class: "img-responsive")
          = link_to url_for([role, question.user]) do
            = question.user_nickname
        .col-xs-9.col-sm-10{ style: "margin-left: 30px;" }
          .content
            .bold.wine
              = question.questionable_title_str

            .bold.wine
              = question.spoiler_str

            %br

            %p
              = question.content.html_safe

          .info
            = question_created_at_str(question, current_user)

          #question-reaction{ style: 'margin-top: 10px;' }
            = render 'shared/reactions', resource: question, like_path: like_path, dislike_path: dislike_path

= render 'shared/comments/index', object: question
