- questionable = question.questionable
- like_path ||= nil
- dislike_path ||= nil

.container.content
  .row
    .col-xs-12
      .title-separator
        .row.topico{ class: question_class(question) }
          .col-xs-1.icone
            %svg.icon-debate
              %use{ "xlink:href": question_icon(question) }
          .col-xs-10.titulo.pull-right
            %h4
              = question.title
      .content
        .bold.wine
          = question.questionable_title_str

        .bold.wine
          = question.spoiler_str

        %br

        %p
          = question.content.html_safe

      .info
        = question_created_at_str(question)

  #question-reaction
    = render 'shared/reactions', resource: question, like_path: like_path, dislike_path: dislike_path

= render 'shared/comments/index', resource: question, commentable_type: Question, commentable_id: question.id
