- filmable = critic.filmable
- avatar = critic.user.avatar
- avatar ||= "http://placehold.it/120x170"

.review-item
  .col-xs-12.col-sm-2.thumb-user
    .usuario-avatar
      %img.img-responsive{ src: avatar }
  .col-xs-12.col-sm-10.resume
    %h4.title
      = filmable.title_str
    %span.original-title
      = filmable.original_title
    = render 'shared/critics/rating', critic: critic
    %p
      = critic.collapsed_content

    = link_to url_for([role, critic]) do
      .btn.btn-saiba-mais
        = t('more')
