- role = role
- object = movie
- cover = object.cover
- cover ||= image_path("default/movie/image.png")

.internal-section-detail-filmable
  .filmable
    .container
      .row
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
          .row
            .col-xs-12
              %img.img-responsive{ src: cover, style: 'height: 330px; width: 220px;' }
          .row
            .col-xs-12{ style: 'margin-left: -30px;' }
              .info{ style: 'margin-top: 10px; text-align: center; font-size: 18px;' }
                %input#input-2.rating.hide{"data-max" => "5", "data-min" => "0", "data-readonly" => "false", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xss", "data-step" => "0.5", :name => "input-2", :type => "number", :value => "4"}
                .rate{ style: 'font-size: 13px;' }
                  Avalie este filme
        .col-xs-12.col-sm-12.col-md-9.col-lg-9{ style: 'margin-left: -45px;' }
          .row
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              Gênero
              %a.wine.bold
                = object.genre_pt
              %br

              = Movie.human_attribute_name(:age_range_id)
              %span.wine.bold
                = object.rated_pt

              \|

              Duração
              %span.wine.bold
                = object.length_str

              %br
              %br

              .title
                %h3.bold.wine
                  = object.title_str
                %h4.light.cinza
                  = "#{object.original_title_str} (#{object.year})"

              %br

            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .row
                .col-xs-6
                  .nota
                    = Movie.human_attribute_name(:users_rating)
                    %span.valor
                      = object.users_rating
                    = t('votes', count: object.users_rating_count)

                - if object.ciner_official_critic
                  .col-xs-6
                    .nota.ciner-rating
                      = Movie.human_attribute_name(:ciner_rating)
                      %span.valor
                        = object.ciner_official_critic.rating
                      = object.ciner_official_critic.user_name
          .row
            .col-xs-12
              .title
                .synopsis
                  = object.synopsis
                %br

                = Movie.human_attribute_name(:directors_str)
                %a.bold.wine{ style: 'height: 20px; overflow: hidden;' }
                  = object.omdb_directors
                %br

                Roteiro
                %a.bold.wine{ style: 'height: 20px; overflow: hidden;' }
                  = object.writers_pt
                %br

                = Movie.human_attribute_name(:cast_str)
                %a.bold.wine{ style: 'height: 20px; overflow: hidden;' }
                  = object.omdb_actors
                %a.bold.preto{:href => "#ficha-tecnica"}
                  = t('more')
                %br

                %br
                País(es) de Produção
                %a.bold.wine{ style: 'height: 20px; overflow: hidden;' }
                  = object.countries_str
                %br

                Lançamento no Brasil
                %span.wine.bold
                  = object.brazilian_release_str

          = render 'shared/movies/user_actions', object: object, role: role
