- object = movie
- cover = object.cover
- cover ||= "http://placehold.it/550x700"

.internal-section-detail-filmable
  .container.filmable
    .row
      .col-xs-12.col-sm-12.col-md-5.col-lg-4
        %img.img-responsive{ src: cover }
      .col-xs-12.col-sm-12.col-md-7.col-lg-8
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-8
            Gênero
            %a.wine.bold
              = object.genre_pt
            %br

            = Movie.human_attribute_name(:age_range_id)
            %span.wine.bold
              = object.rated_pt
            %br

            = Movie.human_attribute_name(:length)
            %span.wine.bold
              = object.length_str
            %br

            %br

            .title
              %h3.bold.wine
                = object.title_str
              %h4.light.cinza
                = object.original_title_str

              %br

              = Movie.human_attribute_name(:directors_str)
              %a.bold.wine
                = object.omdb_directors
              %br
              %br

              Roteiro
              %a.bold.wine
                = object.writers_pt
              %br
              %br

              = Movie.human_attribute_name(:cast_str)
              %a.bold.wine
                = object.omdb_actors
              %a.bold.preto{:href => "#ficha-tecnica"}
                = t('more')
              %br
              %br

              = object.synopsis
              %br
              %br

              Estreia Nacional
              %span.wine.bold
                = object.brazilian_release_str
              %br

              Estreia Mundial
              %span.wine.bold
                = object.release_str

              %br
              %br

              Ano de Produção
              %span.wine.bold
                = object.year

          - if object.ciner_official_critic
            .col-xs-12.col-sm-3.col-md-3.col-lg-2
              .nota.ciner-rating
                = Movie.human_attribute_name(:ciner_rating)
                %span.valor
                  = object.ciner_official_critic.rating
                = object.ciner_official_critic.user_name

          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .nota
              = Movie.human_attribute_name(:users_rating)
              %span.valor
                = object.users_rating
              = t('votes', count: object.users_rating_count)

          .col-xs-12
            .row
              .tags
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#ja-assisti"}
                    já assisti
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#quero-ver"}
                    quero ver
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#adicionar"}
                    adicionar
                .button
                  %a.active
                    %svg.icon-tags
                      %use{"xlink:href" => "#favorito"}
                    favorito
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#like"}
                    indique
