- role = current_role(current_user, request.url)

= render 'shared/breadcrumbs'

.container
  .row
    .col-xs-8
      = render 'shared/movies/toolbar'
      = render 'shared/movies/index/playing', role: role
      = render 'shared/movies/index/featured', role: role
      = render 'shared/movies/index/playing_soon', role: role
      = render 'shared/movies/index/available_netflix', role: role
      = render 'shared/movies/index/available_amazon', role: role
    .col-xs-4
      = render 'shared/movies/index/birthdays', role: role
