- role = current_role(current_user, request.url)

= render 'shared/breadcrumbs'

.container
  .row
    .col-xs-8
      = render 'shared/movies/toolbar'
      = render 'shared/movies/index/playing', role: role, filmables: playing_filmables, see_more_url: url_for([role, :movies, :playing])
      = render 'shared/movies/index/featured', role: role, filmables: featured_filmables, see_more_url: url_for([role, :movies, :featured])
      = render 'shared/movies/index/playing_soon', role: role, filmables: playing_soon_filmables, see_more_url: url_for([role, :movies, :playing_soon])
      = render 'shared/movies/index/available_netflix', role: role, filmables: available_netflix_filmables, see_more_url: url_for([role, :movies, :available_netflix])
    .col-xs-4
      = render 'shared/movies/index/birthdays', role: role
