- object = movie
- role = role

- if object.trailer
  #ficha-tecnica
    .title-separator
      .media
        .media-left.media-middle
          %svg.media-object{:style => "display: inline-block; width: 32px; height: 32px; vertical-align: middle;"}
            %use{"xlink:href" => "#video"}
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:trailer)

    .ficha
      .info
        %iframe{ allowfullscreen: "", frameborder: "0", height: "315px", src: object.trailer.to_s, width: "100%"}

  #direcao.direcao
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            Direção e Roteiro
    .diretores
      .row
        - if object.directors.any?
          - object.directors.first(3).each do |filmable_professional|
            = render 'shared/movies/professional', professional: filmable_professional.professional, professional_class: 'diretor', role: role
        - if object.writers.any?
          - object.writers.first(3).each do |filmable_professional|
            = render 'shared/movies/professional', professional: filmable_professional.professional, professional_class: 'roteirista', role: role

- if object.actors.any?
  #elenco.elenco
    .title-separator
      .media
        .media-body.media-bottom
          .media-heading.title-section
            = Movie.human_attribute_name(:cast_str)
    .atores-principais
      .row
        - object.actors.first(6).each do |filmable_professional|
          = render 'shared/movies/professional', professional: filmable_professional.professional, professional_class: 'diretor', data_mh: 'atores-principais', observation: filmable_professional.observation, role: role
    .collapsed-area{ data: { collapsed_area: '' } }
      .media-body.text-right.media-middle
        %a{ data: { collapse_control: '' } }
          ver mais
      .atores.collapse{ data: { collapse_content: '' } }
        - object.actors.each_with_index do |filmable_professional, index|
          - if index > 5
            =  render 'shared/movies/professional_row', professional: filmable_professional.professional, data_mh: 'group', observation: filmable_professional.observation, role: role
