.internal-section-detail-movie
  .container.movie
    .row
      .col-xs-12.col-sm-12.col-md-5.col-lg-4
        %img.img-responsive{:src => "http://placehold.it/550x700"}/
      .col-xs-12.col-sm-12.col-md-7.col-lg-8
        .row
          .col-xs-12.col-sm-9.col-md-9.col-lg-10
            Categoria:
            = succeed "," do
              %a.wine.bold{:href => "#"} Ação
            %a.wine.bold{:href => "#"} Aventura
            %br/
            Classificação indicativa:
            %span.wine.bold 14 anos
            | Duração:
            %span.wine.bold
              = movie.length
              minutos
            %br/
            .title
              %h3.bold.wine
                = movie.title_str
              %h4.light.cinza
                = movie.original_title
              Direção:
              = succeed "," do
                %a.bold.wine{:href => "#"} Anthony Russo
              = succeed "." do
                %a.bold.wine{:href => "#"} Joe Russo
              %br/
              %br/
              Elenco:
              = succeed "," do
                %a.bold.wine{:href => "#"} Chris Evans
              = succeed "," do
                %a.bold.wine{:href => "#"} Robert Downey Jr.
              = succeed "," do
                %a.bold.wine{:href => "#"} Scarlett Johansson
              %a.bold.preto{:href => "#"} mais
              %br/
              %br/
              Quando o governo cria um órgão para supervisionar os Vingadores, o super time de heróis se divide em dois. Um liderado por Steve Rogers e seu desejo em manter os Vingadores livres para defender a humanidade sem interferência do governo, e o outro que segue a surpreendente decisão de Tony Stark em apoiar o governo na fiscalização de seus atos.
              %br/
              %br/
              Estreia nacional:
              %br/
              %span.wine.bold 28 de Abril de 2016
              %br/
              %br/
          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .nota
              Média geral
              %span.valor 4.5
              5854 votos
          .col-xs-12
            .row
              .tags
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#ja-assisti"}
                    já assisti
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#quero-ver"}
                    quero ver
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#adicionar"}
                    adicionar
                .button
                  %a.active
                    %svg.icon-tags
                      %use{"xlink:href" => "#favorito"}
                    favorito
                .button
                  %a
                    %svg.icon-tags
                      %use{"xlink:href" => "#like"}
                    indique
          .col-xs-12
            %hr{:style => "border-color: #000;"}/
            %label.control-label{:for => "input-1"} Avalie esse filme
            %input#input-2.rating.rating-loading{"data-max" => "5", "data-min" => "0", "data-show-caption" => "false", "data-show-clear" => "false", "data-size" => "xs", "data-step" => "0.5", :name => "input-2", :type => "number"}/
.container
  .row
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#ficha-tecnica"} Ficha Técnica
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#criticas"} Críticas
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#comentarios"} Comentários
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#noticias"} Notícias
    .col-xs-12.col-sm-8
      = render 'shared/movies/info', movie: movie
      = render 'shared/movies/critics', movie: movie
    .col-xs-12.col-sm-4
      .title-separator{:style => "min-height: 41px;"}
      = render 'shared/movies/statistics', movie: movie
  .row
    = render 'shared/movies/comments', movie: movie
    = render 'shared/movies/broadcasts', movie: movie
