/ - content_for :javascript, javascript_include_tag('components/collapser')

- current_critics_path ||= platform_critics_path
- current_new_critic_path ||= new_platform_critic_path
- role = current_role(current_user, request.url)

= render 'shared/movies/general', movie: movie, role: role

.container
  .row
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#ficha-tecnica"} Trailer
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#criticas"} Críticas
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#comentarios"} Comentários
    .col-xs-12.col-sm-3
      %a.btn.btn-block.btn-ancora{:href => "#noticias"} Notícias
    .col-xs-12.col-sm-8
      = render 'shared/movies/info', movie: movie, role: role
      = render 'shared/movies/critics', movie: movie, role: role
    .col-xs-12.col-sm-4
      = render 'shared/movies/statistics', movie: movie
  .row
    = render 'shared/movies/comments', movie: movie
    = render 'shared/movies/broadcasts', movie: movie
