- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :javascript, javascript_include_tag(javascript)

%h3
  = FilmProduction.model_name.human(count: 2)

.row.pull-right
  .col-xs-6
    = link_to new_admin_film_production_path do
      %i.fa.fa-plus= "Novo"

%table
  %thead
    %tr
      %th
        = FilmProduction.human_attribute_name(:original_title)
      %th
        = FilmProduction.human_attribute_name(:title)
      %th
        = FilmProduction.human_attribute_name(:year)

      / Actions
      %th{ colspan: 2 }

  %tbody
    - film_productions.each do |film_production|
      %tr
        %td
          = link_to admin_film_production_path(film_production) do
            = film_production.original_title

        %td
          = film_production.title

        %td
          = film_production.year

        %td
          = link_to edit_admin_film_production_path(film_production) do
            %i.fa.fa-pencil
        %td
          = link_to admin_film_production_path(film_production), method: 'delete' do
            %i.fa.fa-trash

= paginate film_productions
