.col-xs-6.ciner-videos
  .title-separator
    .media
      .media-left.media-middle
        %svg.icon-title
          %use{ "xlink:href": "#video" }
      .media-body.media-bottom
        .media-heading.title-section
          Trailers recentes
      .media-body.text-right.media-middle.see-more
        = link_to url_for([role, :trending_trailers]) do
          = t('see_more')

  .row{ style: 'margin-right: 0px;' }
    - trending_trailers.first(1).each do |object|
      .hidden-xs
        .col-xs-12
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => object.trailer, :width => "100%"}

          .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' }
            = link_to url_for([role, object.filmable]) do
              = object.filmable.title_str

      .hidden-sm.hidden-md.hidden-lg.hidden-xl
        .col-xs-12{ style: 'width: 100%; padding-right: 30px;' }
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "187px", :src => object.trailer, :width => "100%"}

          .ciner-video-title{ style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;' }
            = link_to url_for([role, object.filmable]) do
              = object.filmable.title_str
