- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

%footer
  .container
    .col-xs-12.col-md-2
      .media
        .media-left.media-middle
          %figure
            = image_tag("logo_rodape.png", class: "img-responsive", style: 'margin-top: 20px;')
    .col-xs-12.col-md-2
      .sitemap
        %ul
          %li
            = link_to "Filmes", url_for([role, :movies])
          %li
            = link_to "Séries", url_for([role, :series_index])
          %li
            = link_to "Ciner Vídeos", url_for([:cinervideos])
          %li
            = link_to "Críticas", url_for([role, :critics])
    .col-xs-12.col-md-2
      .sitemap
        %ul
          %li
            = link_to "Notícias", url_for([role, :broadcasts])
          %li
            = link_to "Debate Ciner", url_for([role, :questions])
          %li
            = link_to "Termos de Uso", '#'
          %li
            = link_to "Privacidade", '#'
    .col-xs-12.col-md-2
      .sitemap
        %ul
          %li
            = link_to "Missão", '#'
          %li
            = link_to "Contato", '#'
          %li
            = link_to "Anuncie Aqui", '#'
          %li
            = link_to "Ser Ciner", '#'
    .col-xs-12.col-md-2
      .sitemap
        %ul
          %li
            = link_to "FAQ", '#'
          %li
            = link_to "Adendo", '#'

.copyright
  .container
    .row
      .col-xs-12.text-center
        © 2017 Ciner. Todos os direitos reservados.
