%footer
  .container
    .col-xs-12.col-md-3
      .media
        .media-left.media-middle
          %figure
            = image_tag("logo_rodape.png", class: "img-responsive", style: 'margin-top: 20px;')
    .col-xs-12.col-md-3
      .sitemap
        %ul
          %li
            = link_to "Filmes",   root_path
          %li
            = link_to "Séries",   '#'
          %li
            = link_to "Ciner Vídeos",   '#'
          %li
            = link_to "Críticas",   '#'
          %li
            = link_to "Notícias",   '#'
          %li
            = link_to "Debate Ciner",   '#'
    .col-xs-12.col-md-3
      .sitemap
        %ul
          %li
            = link_to "Missão",   '#'
          %li
            = link_to "Termos de Uso",   '#'
          %li
            = link_to "Política de Privacidade",   '#'
          %li
            = link_to "Sobre Ser Ciner",   '#'
          %li
            = link_to "Anuncie Aqui",   '#'
          %li
            = link_to "Contato",   root_path

.copyright
  .container
    .row
      .col-xs-12.text-center
        © 2017 Ciner. Todos os direitos reservados. Criado por
        %a{:href => "http://agenciacarbon.com.br", :target => "_blank"} Agência Carbon
