- content_for :javascript, javascript_include_tag('components/header')

- if current_user
  - role = current_user.admin? ? :admin : :platform
- role ||= nil

.banner
  / ACTIONBAR
  .actionbar.nav-container
    .container{ data: { container: { full: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-12.col-sm-10.col-md-10
          %span.hidden-xs>
          = link_to 'Anuncie aqui', '#'
          \|
          = link_to 'Entre em contato', '#'
        .col-xs-12.col-sm-1.col-md-2.social
          = link_to image_tag("icons/ico_facebook_branco.png", alt: "Facebook", class: "img-responsive"), '#'
          = link_to image_tag("icons/ico_twitter_branco.png", alt: "Twitter", class: "img-responsive"), '#'
    .container.collapse{ data: { container: { fixed: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-2
          = link_to root_path do
            .logo
              %figure
                = image_tag("logo_home.png", alt: "CINER", class: "img-responsive", style: 'height: 40px; width: 120px; margin: auto; margin-bottom: 10px;')
        .col-xs-5
          %ul.menu.row
            %li.dropdown
              .dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                ACESSAR
                %b.caret
              %ul.dropdown-menu.horizontal
                = link_to url_for([role, :movies]) do
                  %li
                    Filmes
                = link_to url_for([role, :series_index]) do
                  %li
                    Séries
                = link_to url_for([:cinervideos]) do
                  %li
                    Ciner Vídeos
                = link_to url_for([role, :critics]) do
                  %li
                    Críticas
                = link_to url_for([role, :broadcasts]) do
                  %li
                    Notícias
                = link_to url_for([role, :questions]) do
                  %li
                    Debate Ciner

        .col-xs-2{ style: "font-size: 18px;" }
          .row
            .col-xs-9
              = simple_form_for :searches, url: request.url, method: :get, class: 'navbar-form', role: :search do |f|
                = text_field_tag :search, params[:search], placeholder: 'Buscar'
                .glyphicon.glyphicon-search{ onclick: "$(this).closest('form').submit();" }
            .col-xs-offset-1.col-xs-2
              %i.fa.fa-envelope

        .col-xs-3.text-center
          - if current_user
            = render 'shared/user_menu', user: current_user
          - else
            = link_to "Entrar", new_user_session_path

  / BANNER
  .banner-front
    .container
      / SECTION LOGIN
      .row.section-login
        = link_to root_path do
          .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6.col-md-offset-1.col-md-6.logo
            %figure= image_tag("logo_home.png", alt: "CINER", class: "img-responsive")
        = render 'layouts/login'

      / SECTION LOGIN
      / MENU
      .row{ :style => "margin: 20px 0;" }
        %nav
          .navbar-header
            %button.navbar-toggle{"data-target" => "#mainmenu", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #mainmenu.collapse.navbar-collapse
            %ul.menu
              %li.col-xs-2{ class: active_menu_class("movies") }
                = link_to "FILMES", url_for([role, :movies])
              %li.col-xs-2{ class: active_menu_class("series") }
                = link_to "SÉRIES", url_for([role, :series_index])
              %li.col-xs-2{ class: active_menu_class("ciner_videos") }
                = link_to "CINER VÍDEOS", url_for([:cinervideos])
              %li.col-xs-2{ class: active_menu_class("critics") }
                = link_to "CRÍTICAS", url_for([role, :critics])
              %li.col-xs-2{ class: active_menu_class("broadcasts") }
                = link_to "NOTÍCIAS", url_for([role, :broadcasts])
              %li.col-xs-2{ class: active_menu_class("questions") }
                = link_to "DEBATE CINER", url_for([role, :questions])
      / MENU
    .search-field{ :style => "margin-top: 5px;" }
      .col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-8
        %form.form-horizontal.form-search{"accept-charset" => "utf-8", :action => "#", :method => "GET"}
          .form-group
            .col-xs-8.col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-7.col-lg-offset-3.col-lg-6
              %input#search.form-control{:name => "search", :placeholder => "digite sua busca aqui...", :type => "text"}/
            .col-xs-12.col-sm-2.col-md-3.col-lg-3
              %button.btn.btn-login{:type => "submit"}
                buscar
                %span.icon.icon-button
