- content_for :javascript, javascript_include_tag('components/header')

- role = current_role(current_user, request.url)
- if role == :admin
  - role = :platform

.banner
  / ACTIONBAR
  .actionbar.nav-container
    .container{ data: { container: { full: '' } } }
      .row{ style: 'margin-bottom: 0px; margin-right: 15px; margin-left: 15px;' }
        .col-xs-12.col-sm-10.col-md-10
          = link_to 'Sobre Ser Ciner', new_user_registration_path
          %span{ style: 'margin-right: 5px; margin-left: 5px;'}
            \|
          = link_to 'Anuncie aqui', url_for([:merchant])
          %span{ style: 'margin-right: 5px; margin-left: 5px;'}
            \|
          = link_to 'Entre em contato', url_for([:new, :contact])
        .col-xs-12.col-sm-1.col-md-2.social.pull-right
          = link_to "https://www.facebook.com/sejaciner/" do
            %i.fa.fa-facebook{ style: 'font-size: 18px; margin-right: 10px;' }

          = link_to "https://www.instagram.com/sejaciner/" do
            %i.fa.fa-instagram{ style: 'font-size: 18px; margin-right: 10px;' }
    .container.collapse{ data: { container: { fixed: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-2
          = link_to url_for([role, :root]) do
            .logo
              %figure
                = image_tag("logo_home.png", alt: "CINER", class: "img-responsive", style: 'height: 40px; width: 120px; margin: auto; margin-bottom: 10px;')
        .col-xs-4
          %ul.menu.row
            %li.dropdown
              .dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                ACESSAR
                %b.caret
              %ul.dropdown-menu.horizontal
                = link_to url_for([role, :movies]) do
                  %li
                    Filmes
                = link_to url_for([role, :series_index]) do
                  %li
                    Séries
                = link_to url_for([role, :events]) do
                  %li
                    Agenda
                = link_to url_for([role, :critics]) do
                  %li
                    Críticas
                = link_to url_for([role, :broadcasts]) do
                  %li
                    Notícias
                = link_to url_for([role, :questions]) do
                  %li
                    Debate Ciner

        .col-xs-3{ style: "font-size: 22px;" }
          .row
            .col-xs-10
              = simple_form_for :searches, url: searches_path, method: :get, class: 'navbar-form', role: :search do |f|
                = text_field_tag :search, params[:search], placeholder: 'Buscar'
                .glyphicon.glyphicon-search{ onclick: "$(this).closest('form').submit();", style: 'font-size: 18px' }
            - if current_user
              .col-xs-offset-1.col-xs-1{ style: 'padding-left: 15px; margin-top: -3px; z-index: 9999' }
                = link_to url_for([role, :notifications]) do
                  %i.fa.fa-film{ style: 'color: white' }
                  - if current_user.notifications.pending.count > 0
                    %span{ style: 'background: #f00; width: 10px; height: 10px; border-radius: 50%; z-index: 1000000; margin-top: 10px; display: block; margin-top: -13px; margin-left: 19px; position: fixed' }

        .col-xs-3.text-center{ style: "overflow: hidden;" }
          - if current_user
            = render 'shared/user_menu', user: current_user
          - else
            = link_to "Entrar", new_user_session_path

  / BANNER
  .banner-front
    .container
      / SECTION LOGIN
      .row.section-login
        = link_to url_for([role, :root]) do
          .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6.col-md-offset-1.col-md-6.logo
            %figure
              = image_tag("logo_home.png", alt: "CINER", class: "img-responsive", style: 'width: 62%; height: 62%; margin-top: 10px; margin: auto;')
        = render 'layouts/login'

      / SECTION LOGIN
      / MENU
      .row{ :style => "margin: 20px 0;" }
        .col-xs-12
          %nav
            #mainmenu.collapse.navbar-collapse
              %ul.menu.row{ style: 'padding-left: 0px;' }
                %li.col-xs-2{ class: active_menu_class("movies") }
                  = link_to "FILMES", url_for([role, :movies])
                %li.col-xs-2{ class: active_menu_class("series") }
                  = link_to "SÉRIES", url_for([role, :series_index])
                %li.col-xs-2{ class: active_menu_class("events") }
                  = link_to "AGENDA", url_for([role, :events])
                %li.col-xs-2{ class: active_menu_class("critics") }
                  = link_to "CRÍTICAS", url_for([role, :critics])
                %li.col-xs-2{ class: active_menu_class("broadcasts") }
                  = link_to "NOTÍCIAS", url_for([role, :broadcasts])
                %li.col-xs-2{ class: active_menu_class("questions") }
                  = link_to "DEBATE CINER", url_for([role, :questions])
      / MENU
    .search-field{ :style => "margin-top: 5px;" }
      .col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-2.col-md-8
        = simple_form_for :searches, url: searches_path, method: :get do |f|
          .form-group.row{ style: 'margin-left: 30px;' }
            .col-xs-offset-2.col-xs-6
              %input#search.form-control{:name => "search", :placeholder => "digite sua busca aqui...", :type => "text", style: 'border-top-right-radius: 0;  border-bottom-right-radius: 0'}/
            .col-xs-2{ style: 'margin-left: -30px'}
              %button.btn.btn-login{:type => "submit", style: 'border-top-left-radius: 0; border-bottom-left-radius: 0; height: 34px;' }
                buscar
                %span.icon.icon-button
