- role = current_role(current_user, request.url)
- if role == :admin
  - role = :platform

.banner
  .actionbar.nav-container.f-nav
    .container{ data: { container: { fixed: '' } } }
      .row{ style: 'margin-bottom: 0px;' }
        .col-xs-3
          = link_to url_for([role, :root]) do
            .logo
              %figure
                = image_tag("logo_home.png", alt: "CINER", class: "img-responsive", style: 'height: 40px; width: 120px; margin: auto; margin-bottom: 10px;')
        .col-xs-2
          %ul.menu.row
            %li.dropdown
              .dropdown-toggle{"data-toggle" => "dropdown", :href => "#", style: "cursor: pointer"}
                ACESSAR
                %b.caret
              %ul.dropdown-menu.vertical{ style: 'width: 300px' }
                = link_to url_for([role, :events]) do
                  %li
                    Agenda do Cinema
                = link_to url_for([role, :ciner_productions]) do
                  %li
                    Produções Independentes
                = link_to url_for([role, :curriculums]) do
                  %li
                    Busca de Profissionais
                = link_to url_for([role, :critics]) do
                  %li
                    Críticas
                - if current_user && current_user.admin?
                  = link_to url_for([:admin, :settings]) do
                    %li
                      Configurações

        .col-xs-3{ style: "font-size: 22px;" }
          .row
            .hidden-xs.hidden-sm
              .col-xs-10
                = simple_form_for :searches, url: searches_path, method: :get, class: 'navbar-form', role: :search do |f|
                  = text_field_tag :search, params[:search], placeholder: 'Buscar'
                  .glyphicon.glyphicon-search{ onclick: "$(this).closest('form').submit();", style: 'font-size: 18px' }
            - if current_user
              .col-xs-offset-1.col-xs-1{ style: 'padding-left: 15px; margin-top: -3px; z-index: 9999' }
                = link_to url_for([role, :notifications]) do
                  %i.fa.fa-film{ style: 'color: white' }
                  - if current_user.notifications.pending.count > 0
                    %span{ style: 'background: #f00; width: 10px; height: 10px; border-radius: 50%; z-index: 1000000; display: block; margin-top: -33px; margin-left: 19px; position: fixed' }

        .col-xs-3.text-center{ style: "overflow: hidden;" }
          - if current_user
            = render 'shared/user_menu', user: current_user
          - else
            = link_to "Entrar", new_user_session_path
        .col-xs-1.social.pull-right
          = link_to "https://www.facebook.com/sejaciner/", target: '_blank' do
            %i.fa.fa-facebook{ style: 'font-size: 18px; margin-right: 10px;' }

          = link_to "https://www.instagram.com/sejaciner/", target: '_blank' do
            %i.fa.fa-instagram{ style: 'font-size: 18px; margin-right: 10px;' }

          = link_to "https://www.youtube.com/channel/UCbK3OWOLw4zf9FCEzrjW7mQ", target: '_blank' do
            %i.fa.fa-youtube{ style: 'font-size: 18px; margin-right: 10px;' }
