- if current_user
  .col-xs-offset-2.col-xs-8.col-sm-offset-1.col-sm-4.col-md-offset-1.col-md-3{ style: 'height: 150px;' }
    .welcome
      Olá,
      = current_user.name.split(' ').first
    .logout
      = link_to 'Sair', destroy_user_session_path, method: :delete

- else
  .col-xs-offset-2.col-xs-8.col-sm-offset-1.col-sm-4.col-md-offset-1.col-md-3{ style: 'height: 150px;' }
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.input :email, label: false, required: false, input_html: { class: 'form-control' }, placeholder: 'e-mail'
      .form-group
        = f.input :password, label: false, required: false, input_html: { class: 'form-control', placeholder: 'senha' }
      .form-group
        .hidden
          = f.button :submit, 'Entrar'
        %button.btn.btn-login{:type => "submit"}
          Entrar
          %span.icon.icon-button
        %span.register
          ou
          = link_to new_user_registration_path do
            %strong seja ciner
