- role = current_role(current_user, request.url)

- if current_user
  .col-xs-offset-2.col-xs-8.col-sm-offset-1.col-sm-4.col-md-offset-1.col-md-3{ style: 'height: 130px; margin-top: 20px;' }
    .row{ style: 'margin-top: 15px;' }
      .col-sm-4{ style: 'margin-right: -20px; margin-top: -5px;' }
        - avatar = image_default_path(current_user.avatar.try(:thumb), "user")
        = link_to url_for([role, current_user]) do
          = image_tag(avatar, class: "img-responsive", style: 'width: 60px; height: 60px; margin: auto; margin-top: 10px;' )
      .hidden-xs.hidden-sm
        .col-sm-8
          .welcome
            Olá,
            = link_to url_for([role, current_user]), style: 'box-sizing: border-box; color: rgb(255, 255, 255); font-family: "Montserrat"; font-size: 18.6667px; font-weight: 700; line-height: 26.6667px; margin-top: 20px;' do
              = current_user.name.split(' ').first
          .logout
            - notification_count = current_user.notifications.pending.count
            = link_to url_for([role, :notifications]) do
              = notification_count
              = notification_count == 1 ? "notificação" : "notificações"
            \|
            = link_to 'Sair', destroy_user_session_path, method: :delete
      .hidden-md.hidden-lg.hidden-xl
        .col-sm-8{ style: 'text-align: center' }
          .welcome
            Olá,
            = link_to url_for([role, current_user]), style: 'box-sizing: border-box; color: rgb(255, 255, 255); font-family: "Montserrat"; font-size: 18.6667px; font-weight: 700; line-height: 26.6667px; margin-top: 20px;' do
              = current_user.name.split(' ').first
          .logout
            - notification_count = current_user.notifications.pending.count
            = link_to url_for([role, :notifications]) do
              = notification_count
              = notification_count == 1 ? "notificação" : "notificações"
            \|
            = link_to 'Sair', destroy_user_session_path, method: :delete
- else
  .row
    .hidden-xs
      .col-xs-offset-2.col-xs-8.col-sm-offset-1.col-sm-4.col-md-offset-1.col-md-3{ style: 'height: 150px;' }
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.input :email, label: false, required: false, input_html: { class: 'form-control' }, placeholder: 'e-mail', error: false
          .form-group
            = f.input :password, label: false, required: false, input_html: { class: 'form-control', placeholder: 'senha' }, error: false
          .form-group
            .hidden
              = f.button :submit, 'Entrar'
            %button.btn.btn-login{:type => "submit", style: 'margin-top: -3px; height: 34px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box;'}
              Entrar
              %span.icon.icon-button
            = link_to user_facebook_omniauth_authorize_path do
              .btn.btn-login.btn-social-icon.btn-facebook{ style: 'background-color: rgb(59, 89, 152); background-image: none; border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgba(0, 0, 0, 0.2); border-left-style: solid; border-left-width: 1px; border-right-color: rgba(0, 0, 0, 0.2); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(0, 0, 0, 0.2); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; height: 34px; line-height: 20px; margin-bottom: 4px; overflow: hidden; overflow-x: hidden; overflow-y: hidden; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; position: relative; text-align: left; text-decoration: none; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-overflow: ellipsis; touch-action: manipulation; vertical-align: middle; white-space: nowrap; width: 34px; -moz-user-select: none;' }
                %span.fa.fa-facebook{ style: 'border-bottom-color: rgb(255, 255, 255); border-bottom-style: none; border-bottom-width: 0px; border-image-outset: 0; border-image-repeat: stretch stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgb(255, 255, 255); border-left-style: none; border-left-width: 0px; border-right-color: rgb(255, 255, 255); border-right-style: none; border-right-width: 0px; border-top-color: rgb(255, 255, 255); border-top-style: none; border-top-width: 0px; bottom: 0px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; font-language-override: normal; font-size: 22.4px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-variant-alternates: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-position: normal; font-weight: 400; left: 0px; line-height: 34px; position: absolute; text-align: center; text-rendering: auto; top: 0px; white-space: nowrap; width: 32px;' } 
            %span.register
              ou
              = link_to new_user_registration_path do
                %strong Seja Ciner
    .hidden-sm.hidden-md.hidden-lg.hidden-xl
      .col-xs-12{ style: 'text-align: center; margin-top: 15px;' }
        = link_to new_user_session_path do
          %button.btn.btn-login{:type => "submit"}
            Entrar
            %span.icon.icon-button
        %span.register
          ou
          = link_to new_user_registration_path do
            %strong Seja Ciner
