!!!
%html
  %head
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %meta{:content => "index, follow", :name => "robots"}
    %meta{:content => "index, follow", :name => "googlebot"}
    %meta{:content => "noindex, nofollow", :name => "Slurp"}
    %meta{:content => "index, follow", :name => "msnbot"}
    %meta{:content => "7", "http-equiv" => "Expires"}
    / Facebook Open Graph data
    %meta{:content => "CINER", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://ciner.com.br", :property => "og:url"}
    %meta{:content => "logo_home.png", :property => "og:image"}
    %meta{:content => "O cinéfilo dos tempos modernos.", :property => "og:description"}
    %meta{:content => "CINER", :property => "og:site_name"}
    / Twitter Card data
    %meta{:content => "CINER", :name => "twitter:title"}
    %meta{:content => "O cinéfilo dos tempos modernos.", :name => "twitter:description"}
    
    %meta{:content => "CINER", :property => "title"}
    %meta{:content => "website", :property => "type"}
    %meta{:content => "https://ciner.com.br", :property => "url"}
    %meta{:content => "logo_home.png", :property => "image"}
    %meta{:content => "O cinéfilo dos tempos modernos.", :property => "description"}
    %meta{:content => "CINER", :property => "site_name"}

    %title
      = full_title(yield(:title))

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield(:stylesheet)

    = render 'layouts/symbols'

    = favicon_link_tag 'favicon.ico'

    %meta{'name' => 'robots', 'content' => 'noindex, nofollow' }
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=639854242830197";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = render 'layouts/header'

    - if extended_container?
      = yield
    - else
      .container
        = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield(:javascript)

    :javascript
      #{add_visit(params, request.path, current_user)}

    = render 'layouts/footer'
  / Global site tag (gtag.js) - Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-111721133-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111721133-1');

