!!!
%html
  %head
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }

    %title
      = full_title(yield(:title))
      PLATAFORMA

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield(:stylesheet)
    = csrf_meta_tags

    = render 'layouts/symbols'

    = favicon_link_tag 'favicon.ico'

    %meta{'name' => 'robots', 'content' => 'noindex, nofollow' }
  %body
    = render 'platform/header'
    .container
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield(:javascript)

    :javascript
      #{add_visit(params, request.path, current_user)}

    = render 'layouts/footer'
